
<!-- footer start -->
<footer id="footer">
    <!-- footer-top start -->
    <div class="footer-area section-ptb extra-bg">
        <div class="container">
            <div class="row row-mtm100">
                <div class="col-12 col-md-12 col-lg-5">
                    <div class="row">
                        <div class="col-12 col-xl-10">
                            <div class="footer-info text-center text-lg-start">
                                <div class="footer-theme-logo">
                                    <a href="index.html" class="d-block theme-logo">
                                        <img src="/static/image/index/logo.png" class="width-88 width-xl-144 img-fluid" alt="logo">
                                    </a>
                                </div>
                                <div class="footer-news mst-21">
                                    <h2 class="col-lg-9 col-xxl-8 font-24 section-heading-weight">Subscribe newsletter first order up 60% off</h2>
                                    <div class="footer-news-form mst-21">
                                        <form method="post" class="news-form">
                                            <div class="news-wrap d-flex flex-wrap border-full br-hidden">
                                                <input type="email" id="newsletter-email" name="newsletter-email" class="width-calc-120 border-none ber rounded-0" placeholder="Enter your email" required>
                                                <button type="submit" class="news-btn width-120 dominant-link font-16 ptb-10 plr-15 text-uppercase heading-weight">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="footer-social mst-30">
                                    <ul class="social-ul ul-mt30 justify-content-center justify-content-lg-start">
                                        <li class="social-li">
                                            <a href="javascript:void(0)" class="d-block body-dominant-color icon-16" aria-label="Social link"><i class="ri-facebook-fill d-block lh-1"></i></a>
                                        </li>
                                        <li class="social-li">
                                            <a href="javascript:void(0)" class="d-block body-dominant-color icon-16" aria-label="Social link"><i class="ri-instagram-fill d-block lh-1"></i></a>
                                        </li>
                                        <li class="social-li">
                                            <a href="javascript:void(0)" class="d-block body-dominant-color icon-16" aria-label="Social link"><i class="ri-pinterest-fill d-block lh-1"></i></a>
                                        </li>
                                        <li class="social-li">
                                            <a href="javascript:void(0)" class="d-block body-dominant-color icon-16" aria-label="Social link"><i class="ri-twitter-fill d-block lh-1"></i></a>
                                        </li>
                                        <li class="social-li">
                                            <a href="javascript:void(0)" class="d-block body-dominant-color icon-16" aria-label="Social link"><i class="ri-youtube-fill d-block lh-1"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-7 footer-list">
                    <div class="row">
                        <div class="col-12 col-md-4 ft-list">
                            <div class="footer-menu">
                                <h6 class="ft-title d-none d-md-block font-18">Categories</h6>
                                <a href="#collapse-categories" class="ft-title font-18 d-flex d-md-none flex-wrap align-items-center justify-content-between" data-bs-toggle="collapse" aria-expanded="false">
                                    <span class="ftmenu-title width-calc-16 heading-weight">Categories</span>
                                    <span class="ftmenu-icon width-16 icon-16"><i class="ri-add-line"></i></span>
                                </a>
                                <div class="ft-link collapse" id="collapse-categories">
                                    <ul class="ftlink-ul ul-ft pst-16">
                                        <li class="ftlink-li">
                                            <a href="collection.html" class="d-inline-block body-dominant-color font-16">Cardiogram</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="collection.html" class="d-inline-block body-dominant-color font-16">Microscope</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="collection.html" class="d-inline-block body-dominant-color font-16">Stethoscope</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="collection.html" class="d-inline-block body-dominant-color font-16">Thermometer</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="collection.html" class="d-inline-block body-dominant-color font-16">Dumbbells</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="collection.html" class="d-inline-block body-dominant-color font-16">Notebook</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 ft-list">
                            <div class="footer-menu">
                                <h6 class="ft-title d-none d-md-block font-18">Information</h6>
                                <a href="#collapse-information" class="ft-title font-18 d-flex d-md-none flex-wrap align-items-center justify-content-between" data-bs-toggle="collapse" aria-expanded="false">
                                    <span class="ftmenu-title width-calc-16 heading-weight">Information</span>
                                    <span class="ftmenu-icon width-16 icon-16"><i class="ri-add-line"></i></span>
                                </a>
                                <div class="ft-link collapse" id="collapse-information">
                                    <ul class="ftlink-ul ul-ft pst-16">
                                        <li class="ftlink-li">
                                            <a href="about-us.html" class="d-inline-block body-dominant-color font-16">About us</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="contact-us.html" class="d-inline-block body-dominant-color font-16">Contact us</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="faqs.html" class="d-inline-block body-dominant-color font-16">Faqs</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="payment-policy.html" class="d-inline-block body-dominant-color font-16">Payment policy</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="privacy-policy.html" class="d-inline-block body-dominant-color font-16">Privacy policy</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="terms-condition.html" class="d-inline-block body-dominant-color font-16">Terms condition</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 ft-list">
                            <div class="footer-contact">
                                <h6 class="ft-title d-none d-md-block font-18">Get in touch</h6>
                                <a href="#collapse-contact" class="ft-title font-18 d-flex d-md-none flex-wrap align-items-center justify-content-between" data-bs-toggle="collapse" aria-expanded="false">
                                    <span class="ftmenu-title width-calc-16 heading-weight">Get in touch</span>
                                    <span class="ftmenu-icon width-16 icon-16"><i class="ri-add-line"></i></span>
                                </a>
                                <div class="ftcontact-link collapse" id="collapse-contact">
                                    <ul class="ftcontact-ul pst-16">
                                        <li class="ftcontact-li">
                                            <div class="ftcontact-text ul-ft">
                                                <span class="d-block font-16">Have questions?</span>
                                                <a href="mailto:demo@demo.com" class="d-inline-block dominant-link font-16 heading-weight">demo@demo.com</a>
                                            </div>
                                        </li>
                                        <li class="ftcontact-li">
                                            <div class="ftcontact-text ul-ft">
                                                <span class="d-block font-16">Need assistance?</span>
                                                <a href="tel:(+00)123456789" class="d-inline-block dominant-link font-16 heading-weight">(+00)-123456789</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-top end -->
    <!-- footer-bottom start -->
    <div class="copyright ptb-15">
        <div class="container">
            <div class="row align-items-md-center">
                <div class="col-12 col-md-6 font-16 text-center text-md-start">Powered by spacingtech<sup>TM</sup></div>
                <div class="col-12 col-md-6 mst-8 mst-md-0">
                    <ul class="payment-ul">
                        <li class="payment-li ul-mt5 justify-content-center justify-content-md-end">
                            <a href="javascript:void(0)" class="d-block"><img src="/static/image/other/paying-american.png" class="width-48 img-fluid border-radius" alt="paying-american"></a>
                            <a href="javascript:void(0)" class="d-block"><img src="/static/image/other/paying-club.png" class="width-48 img-fluid border-radius" alt="paying-club"></a>
                            <a href="javascript:void(0)" class="d-block"><img src="/static/image/other/paying-discover.png" class="width-48 img-fluid border-radius" alt="paying-discover"></a>
                            <a href="javascript:void(0)" class="d-block"><img src="/static/image/other/paying-maestro.png" class="width-48 img-fluid border-radius" alt="paying-maestro"></a>
                            <a href="javascript:void(0)" class="d-block"><img src="/static/image/other/paying-paypal.png" class="width-48 img-fluid border-radius" alt="paying-paypal"></a>
                            <a href="javascript:void(0)" class="d-block"><img src="/static/image/other/paying-visa.png" class="width-48 img-fluid border-radius" alt="paying-visa"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom end -->
</footer>
<!-- footer end -->

<!-- cart-drawer start -->
<div class="cart-drawer position-fixed top-0 bottom-0 body-bg z-index-5 invisible box-shadow" id="cart-drawer">
    <form method="post" action="javascript:void(0)" class="drawer-contents d-flex flex-column">
        <div class="drawer-fixed-header ptb-10 plr-15 beb">
            <div class="drawer-header d-flex align-items-center justify-content-between">
                <h6 class="font-18">Cart</h6>
                <div class="drawer-close">
                    <button type="button" class="drawer-close-btn body-secondary-color icon-16" aria-label="Close"><i class="ri-close-large-line d-block lh-1"></i></button>
                </div>
            </div>
        </div>
        <div class="drawer-cart-empty d-none h-100 ptb-30 plr-15">
            <div class="drawer-scrollable h-100 d-flex flex-column align-items-center justify-content-center text-center">
                <h2 class="font-24">Your cart is currently empty</h2>
                <a href="collection.html" class="btn-style secondary-btn mst-21">Continue shopping</a>
            </div>
        </div>
        <div class="drawer-inner h-100 d-flex flex-column justify-content-between overflow-hidden">
            <div class="drawer-scrollable h-100 overflow-auto">
                <div class="cart-drawer-table plr-15">
                    <div class="cart-drawer-info ptb-15 bst">
                        <div class="cart-drawer-content d-flex flex-wrap">
                            <div class="cart-drawer-image width-88">
                                <a href="product.html" class="d-block br-hidden"><img src="/static/image/cart/cart-1.jpg" class="w-100 img-fluid" alt="cart-1"></a>
                            </div>
                            <div class="cart-drawer-info width-calc-88 psl-15">
                                <div class="cart-drawer-detail">
                                    <a href="product.html" class="body-dominant-color">Refractometers</a>
                                    <span class="d-block mst-4">Size: S</span>
                                    <span class="d-block mst-4">Color: Red</span>
                                </div>
                                <div class="heading-color heading-weight mst-9">$79.00</div>
                                <div class="cart-drawer-qty-remove d-flex align-items-end justify-content-between mst-14">
                                    <div class="js-qty-wrapper">
                                        <div class="js-qty-wrap d-flex extra-bg border-full br-hidden">
                                            <button type="button" class="js-qty-adjust js-qty-adjust-minus body-color icon-16 ber" aria-label="Remove item"><i class="ri-subtract-line d-block lh-1"></i></button>
                                            <input type="number" name="refractometers-s-red" class="js-qty-num p-0 text-center border-0" value="1" min="1">
                                            <button type="button" class="js-qty-adjust js-qty-adjust-plus body-color icon-16 bsl" aria-label="Add item"><i class="ri-add-line d-block lh-1"></i></button>
                                        </div>
                                    </div>
                                    <button type="submit" class="cart-drawer-remove text-danger icon-16" aria-label="Remove item"><i class="ri-delete-bin-line d-block lh-1"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-drawer-info ptb-15 bst">
                        <div class="cart-drawer-content d-flex flex-wrap">
                            <div class="cart-drawer-image width-88">
                                <a href="product.html" class="d-block br-hidden"><img src="/static/image/cart/cart-2.jpg" class="w-100 img-fluid" alt="cart-2"></a>
                            </div>
                            <div class="cart-drawer-info width-calc-88 psl-15">
                                <div class="cart-drawer-detail">
                                    <a href="product.html" class="body-dominant-color">Digital thermometer</a>
                                    <span class="d-block mst-4">Size: S</span>
                                    <span class="d-block mst-4">Color: Red</span>
                                </div>
                                <div class="heading-color heading-weight mst-9">$49.00</div>
                                <div class="cart-drawer-qty-remove d-flex align-items-end justify-content-between mst-14">
                                    <div class="js-qty-wrapper">
                                        <div class="js-qty-wrap d-flex extra-bg border-full br-hidden">
                                            <button type="button" class="js-qty-adjust js-qty-adjust-minus body-color icon-16 ber" aria-label="Remove item"><i class="ri-subtract-line d-block lh-1"></i></button>
                                            <input type="number" name="digital-thermometer-s-red" class="js-qty-num p-0 text-center border-0" value="1" min="1">
                                            <button type="button" class="js-qty-adjust js-qty-adjust-plus body-color icon-16 bsl" aria-label="Add item"><i class="ri-add-line d-block lh-1"></i></button>
                                        </div>
                                    </div>
                                    <button type="submit" class="cart-drawer-remove text-danger icon-16" aria-label="Remove item"><i class="ri-delete-bin-line d-block lh-1"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-drawer-info ptb-15 bst">
                        <div class="cart-drawer-content d-flex flex-wrap">
                            <div class="cart-drawer-image width-88">
                                <a href="product.html" class="d-block br-hidden"><img src="/static/image/cart/cart-3.jpg" class="w-100 img-fluid" alt="cart-3"></a>
                            </div>
                            <div class="cart-drawer-info width-calc-88 psl-15">
                                <div class="cart-drawer-detail">
                                    <a href="product.html" class="body-dominant-color">Optical microscope</a>
                                    <span class="d-block mst-4">Size: S</span>
                                    <span class="d-block mst-4">Color: Red</span>
                                </div>
                                <div class="heading-color heading-weight mst-9">$69.00</div>
                                <div class="cart-drawer-qty-remove d-flex align-items-end justify-content-between mst-14">
                                    <div class="js-qty-wrapper">
                                        <div class="js-qty-wrap d-flex extra-bg border-full br-hidden">
                                            <button type="button" class="js-qty-adjust js-qty-adjust-minus body-color icon-16 ber" aria-label="Remove item"><i class="ri-subtract-line d-block lh-1"></i></button>
                                            <input type="number" name="optical-microscope-s-red" class="js-qty-num p-0 text-center border-0" value="1" min="1">
                                            <button type="button" class="js-qty-adjust js-qty-adjust-plus body-color icon-16 bsl" aria-label="Add item"><i class="ri-add-line d-block lh-1"></i></button>
                                        </div>
                                    </div>
                                    <button type="submit" class="cart-drawer-remove text-danger icon-16" aria-label="Remove item"><i class="ri-delete-bin-line d-block lh-1"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-drawer-info ptb-15 bst">
                        <div class="cart-drawer-content d-flex flex-wrap">
                            <div class="cart-drawer-image width-88">
                                <a href="product.html" class="d-block br-hidden"><img src="/static/image/cart/cart-4.jpg" class="w-100 img-fluid" alt="cart-4"></a>
                            </div>
                            <div class="cart-drawer-info width-calc-88 psl-15">
                                <div class="cart-drawer-detail">
                                    <a href="product.html" class="body-dominant-color">Dental tools</a>
                                    <span class="d-block mst-4">Size: S</span>
                                    <span class="d-block mst-4">Color: Red</span>
                                </div>
                                <div class="heading-color heading-weight mst-9">$49.00</div>
                                <div class="cart-drawer-qty-remove d-flex align-items-end justify-content-between mst-14">
                                    <div class="js-qty-wrapper">
                                        <div class="js-qty-wrap d-flex extra-bg border-full br-hidden">
                                            <button type="button" class="js-qty-adjust js-qty-adjust-minus body-color icon-16 ber" aria-label="Remove item"><i class="ri-subtract-line d-block lh-1"></i></button>
                                            <input type="number" name="dental-tools-s-red" class="js-qty-num p-0 text-center border-0" value="1" min="1">
                                            <button type="button" class="js-qty-adjust js-qty-adjust-plus body-color icon-16 bsl" aria-label="Add item"><i class="ri-add-line d-block lh-1"></i></button>
                                        </div>
                                    </div>
                                    <button type="submit" class="cart-drawer-remove text-danger icon-16" aria-label="Remove item"><i class="ri-delete-bin-line d-block lh-1"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="drawer-notes ptb-15 plr-15 bst">
                    <div class="row field-row">
                        <div class="col-12 field-col">
                            <label for="cartnote" class="field-label">Order notes</label>
                            <textarea rows="5" id="cartnote" name="cartnote" class="w-100" placeholder="Review message" autocomplete="off"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="drawer-footer ptb-15 plr-15 bst">
                <div class="drawer-total d-flex justify-content-between">
                    <span>Subtotal</span>
                    <span class="heading-color heading-weight">$246.00</span>
                </div>
                <div class="font-11 mst-5">Shipping, taxes, and discount codes calculated at checkout</div>
                <div class="drawer-cart-checkout mst-10">
                    <div class="drawer-cart-box meb-9">
                        <label class="cust-checkbox-label checkbox-agree">
                            <input type="checkbox" id="drawer-terms" name="drawer-terms" class="cust-checkbox checkboxbtn">
                            <span class="d-block cust-check"></span>
                            <span class="login-read">I have agree with the <a href="terms-condition.html" class="body-secondary-color text-decoration-underline">terms & conditions</a>.</span>
                        </label>
                    </div>
                    <div class="row btn-row15">
                        <div class="col-sm-6 col-12">
                            <a href="cart-page.html" class="w-100 btn-style2 quaternary-btn">View cart</a>
                        </div>
                        <div class="col-sm-6 col-12">
                            <a href="checkout.html" class="w-100 btn-style2 secondary-btn hide-btn opacity-50 disabled pe-none">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- cart-drawer end -->

<!-- bottom-menu start -->
<div class="bottom-menu d-sm-none position-sticky bottom-0 extra-bg z-1 box-shadow">
    <div class="bottom-menu-element d-flex flex-wrap align-items-center">
        <div class="col">
            <a href="index.html" class="d-flex flex-column align-items-center ptb-10 text-center">
                <span class="bottom-menu-icon heading-color icon-16"><i class="ri-home-8-line d-block lh-1"></i></span>
                <span class="bottom-menu-title body-color font-10 mst-4 text-uppercase lh-1">Home</span>
            </a>
        </div>
        <div class="col">
            <a href="account.html" class="d-flex flex-column align-items-center ptb-10 text-center">
                <span class="bottom-menu-icon heading-color icon-16"><i class="ri-user-3-line d-block lh-1"></i></span>
                <span class="bottom-menu-title body-color font-10 mst-4 text-uppercase lh-1">Account</span>
            </a>
        </div>
        <div class="col">
            <a href="collection.html" class="d-flex flex-column align-items-center ptb-10 text-center">
                <span class="bottom-menu-icon heading-color icon-16"><i class="ri-layout-grid-line d-block lh-1"></i></span>
                <span class="bottom-menu-title body-color font-10 mst-4 text-uppercase lh-1">Shop</span>
            </a>
        </div>
        <div class="col">
            <a href="wishlist.html" class="d-flex flex-column align-items-center ptb-10 text-center">
                <span class="bottom-menu-icon-wrap position-relative per-7">
                    <span class="d-block bottom-menu-icon heading-color icon-16"><i class="ri-heart-line d-block lh-1"></i></span>
                    <span class="bottom-menu-counter wishlist-counter extra-color font-10 position-absolute end-0 dominant-bg d-flex align-items-center justify-content-center rounded-circle">5</span>
                </span>
                <span class="bottom-menu-title body-color font-10 mst-4 text-uppercase lh-1">Wishlist</span>
            </a>
        </div>
        <div class="col">
            <a href="javascript:void(0)" class="js-cart-drawer d-flex flex-column align-items-center ptb-10 text-center">
                <span class="bottom-menu-icon-wrap position-relative per-7">
                    <span class="d-block bottom-menu-icon heading-color icon-16"><i class="ri-shopping-bag-3-line d-block lh-1"></i></span>
                    <span class="bottom-menu-counter cart-counter extra-color font-10 position-absolute end-0 dominant-bg d-flex align-items-center justify-content-center rounded-circle">4</span>
                </span>
                <span class="bottom-menu-title body-color font-10 mst-4 text-uppercase lh-1">Cart</span>
            </a>
        </div>
    </div>
</div>
<!-- bottom-menu end -->

<!-- bg-screen start -->
<div class="bg-screen">
    <div class="bg-back position-fixed top-0 end-0 bottom-0 start-0 bg-black z-index-4 opacity-0 invisible"></div>
    <div class="bg-shop position-fixed top-0 end-0 bottom-0 start-0 bg-black z-index-4 opacity-0 invisible"></div>
</div>
<!-- bg-screen end -->
    
<!-- back-to-top start -->
<a href="javascript:void(0)" id="top" class="icon-16 secondary-btn position-fixed width-40 height-40 d-flex align-items-center justify-content-center z-1 opacity-0 invisible border-radius" aria-label="Back to top"><i class="ri-arrow-up-line d-block lh-1"></i></a>
<!-- back-to-top end -->