{% block pages-list %}

    <div class="col-12 col-md-4 col-lg-3 p-md-sticky top-0">
        <div class="ul-mtm20 per-md-15 per-xl-35">
            <span data-animate="animate__fadeIn"><a href="/terms-conditions/" class="body-secondary-color">Terms & conditions</a></span>
            <span data-animate="animate__fadeIn"><a href="/privacy-policy/" class="body-secondary-color">Privacy policy</a></span>
            <span data-animate="animate__fadeIn"><a href="/shipping-policy/" class="body-secondary-color">Shipping policy</a></span>
            <span data-animate="animate__fadeIn"><a href="/return-policy/" class="body-secondary-color">Return policy</a></span>
            <span data-animate="animate__fadeIn"><a href="/legal/" class="body-secondary-color">Legal page</a></span>
            <span data-animate="animate__fadeIn"><a href="/cookie/" class="body-secondary-color">Cookie page</a></span>
            <span data-animate="animate__fadeIn"><a href="javascript:void(0)" class="secondary-color"></a></span>
        </div>
    </div>

{% endblock %}