{% extends 'base.html' %}

{% block title %}
    <title>Search - Blog</title>
{% endblock %}

{% block content %}

<!-- main start -->
<main id="main">
    <!-- search-page start -->
    <section class="search-page section-ptb">
        <div class="container">
            <div class="row row-mtm">
                <div class="col-12">
                    <!-- search-bar start -->
                    <div class="search-bar-page">
                        <form method="get" action="javascript:void(0)" class="search-form">
                            <div class="section-capture text-center" data-animate="animate__fadeIn">
                                <div class="section-title">
                                    <h2 class="section-heading">Your search for <span class="search-text">a</span> revealed the following:</h2>
                                </div>
                            </div>
                            <div class="search-bar position-relative">
                                <div class="form-search d-flex flex-wrap border-full br-hidden" data-animate="animate__fadeIn">
                                    <input type="search" name="search-input" class="search-input width-calc-64 border-0 rounded-0" value="a" placeholder="Search here" required>
                                    <button type="submit" onclick="window.location.href='search-blog.html'" class="d-block search-page-btn width-64 secondary-btn icon-16" aria-label="Go to search" disabled><i class="ri-search-line d-block lh-1"></i></button>
                                </div>
                                <div class="d-none search-results position-absolute top-100 start-0 end-0 body-bg z-1 border-full border-radius box-shadow">
                                    <div class="search-for ptb-10 plr-15 beb">Search for <span class="search-text">a</span></div>
                                    <ul class="search-ul">
                                        <li class="search-li ptb-5 plr-15 bst">
                                            <a href="article.html" class="body-dominant-color d-flex flex-wrap align-items-center">
                                                <span class="width-48"><img src="/static/image/search/search-blog1.jpg" class="w-100 img-fluid border-radius" alt="search-blog1"></span>
                                                <span class="width-calc-48 psl-15">Wel illum qui dolorem eum?</span>
                                            </a>
                                        </li>
                                        <li class="search-li ptb-5 plr-15 bst">
                                            <a href="article.html" class="body-dominant-color d-flex flex-wrap align-items-center">
                                                <span class="width-48"><img src="/static/image/search/search-blog2.jpg" class="w-100 img-fluid border-radius" alt="search-blog2"></span>
                                                <span class="width-calc-48 psl-15">Nisi ut aliquid ex commodi?</span>
                                            </a>
                                        </li>
                                        <li class="search-li ptb-5 plr-15 bst">
                                            <a href="article.html" class="body-dominant-color d-flex flex-wrap align-items-center">
                                                <span class="width-48"><img src="/static/image/search/search-blog3.jpg" class="w-100 img-fluid border-radius" alt="search-blog3"></span>
                                                <span class="width-calc-48 psl-15">Which of ever undertakes?</span>
                                            </a>
                                        </li>
                                        <li class="search-li ptb-5 plr-15 bst">
                                            <a href="article.html" class="body-dominant-color d-flex flex-wrap align-items-center">
                                                <span class="width-48"><img src="/static/image/search/search-blog4.jpg" class="w-100 img-fluid border-radius" alt="search-blog4"></span>
                                                <span class="width-calc-48 psl-15">Where can I get some?</span>
                                            </a>
                                        </li>
                                        <li class="search-li ptb-5 plr-15 bst">
                                            <a href="article.html" class="body-dominant-color d-flex flex-wrap align-items-center">
                                                <span class="width-48"><img src="/static/image/search/search-blog5.jpg" class="w-100 img-fluid border-radius" alt="search-blog5"></span>
                                                <span class="width-calc-48 psl-15">Who avoids a produces?</span>
                                            </a>
                                        </li>
                                        <li class="search-li ptb-5 plr-15 bst">
                                            <a href="article.html" class="body-dominant-color d-flex flex-wrap align-items-center">
                                                <span class="width-48"><img src="/static/image/search/search-blog6.jpg" class="w-100 img-fluid border-radius" alt="search-blog6"></span>
                                                <span class="width-calc-48 psl-15">Where does it come from?</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="search-more ptb-10 plr-15 bst"><a href="search-blog.html" class="body-secondary-color text-decoration-underline">See all results (12)</a></div>
                                    <div class="search-fail ptb-10 plr-15">Search not found</div>
                                </div>
                            </div>
                        </form>
                        <div class="search-example-text mst-15" data-animate="animate__fadeIn">Trending search: a, e, refractometers...</div>
                    </div>
                    <!-- search-bar end -->
                </div>
                <div class="col-12">
                    <!-- blog-grid start -->
                    <div class="row row-mtm50">
                        <div class="col-12 col-md-6 col-lg-4" data-animate="animate__fadeIn">
                            <div class="blog-post banner-hover">
                                <div class="blog-main-img">
                                    <a href="article.html" class="d-block banner-img position-relative br-hidden">
                                        <img src="/static/image/index/article/a-1.jpg" class="w-100 img-fluid" alt="a-1">
                                        <span class="d-inline-block dominant-color position-absolute start-0 bottom-0 ptb-10 plr-30 extra-bg heading-weight text-uppercase">01 Feb, 2023</span>
                                    </a>
                                </div>
                                <div class="blog-post-content pst-23">
                                    <h6 class="font-18 text-uppercase"><a href="article.html" class="d-inline-block">Wel illum qui dolorem eum?</a></h6>
                                    <p class="font-16 mst-16">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eg</p>
                                    <a href="article.html" class="link-btn mst-16">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4" data-animate="animate__fadeIn">
                            <div class="blog-post banner-hover">
                                <div class="blog-main-img">
                                    <a href="article.html" class="d-block banner-img position-relative br-hidden">
                                        <img src="/static/image/index/article/a-2.jpg" class="w-100 img-fluid" alt="a-2">
                                        <span class="d-inline-block dominant-color position-absolute start-0 bottom-0 ptb-10 plr-30 extra-bg heading-weight text-uppercase">01 Feb, 2023</span>
                                    </a>
                                </div>
                                <div class="blog-post-content pst-23">
                                    <h6 class="font-18 text-uppercase"><a href="article.html" class="d-inline-block">Nisi ut aliquid ex commodi?</a></h6>
                                    <p class="font-16 mst-16">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eg</p>
                                    <a href="article.html" class="link-btn mst-16">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4" data-animate="animate__fadeIn">
                            <div class="blog-post banner-hover">
                                <div class="blog-main-img">
                                    <a href="article.html" class="d-block banner-img position-relative br-hidden">
                                        <img src="/static/image/index/article/a-3.jpg" class="w-100 img-fluid" alt="a-3">
                                        <span class="d-inline-block dominant-color position-absolute start-0 bottom-0 ptb-10 plr-30 extra-bg heading-weight text-uppercase">01 Feb, 2023</span>
                                    </a>
                                </div>
                                <div class="blog-post-content pst-23">
                                    <h6 class="font-18 text-uppercase"><a href="article.html" class="d-inline-block">Which of ever undertakes?</a></h6>
                                    <p class="font-16 mst-16">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eg</p>
                                    <a href="article.html" class="link-btn mst-16">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4" data-animate="animate__fadeIn">
                            <div class="blog-post banner-hover">
                                <div class="blog-main-img">
                                    <a href="article.html" class="d-block banner-img position-relative br-hidden">
                                        <img src="/static/image/index/article/a-4.jpg" class="w-100 img-fluid" alt="a-4">
                                        <span class="d-inline-block dominant-color position-absolute start-0 bottom-0 ptb-10 plr-30 extra-bg heading-weight text-uppercase">01 Feb, 2023</span>
                                    </a>
                                </div>
                                <div class="blog-post-content pst-23">
                                    <h6 class="font-18 text-uppercase"><a href="article.html" class="d-inline-block">Where can I get some?</a></h6>
                                    <p class="font-16 mst-16">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eg</p>
                                    <a href="article.html" class="link-btn mst-16">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4" data-animate="animate__fadeIn">
                            <div class="blog-post banner-hover">
                                <div class="blog-main-img">
                                    <a href="article.html" class="d-block banner-img position-relative br-hidden">
                                        <img src="/static/image/index/article/a-5.jpg" class="w-100 img-fluid" alt="a-5">
                                        <span class="d-inline-block dominant-color position-absolute start-0 bottom-0 ptb-10 plr-30 extra-bg heading-weight text-uppercase">01 Feb, 2023</span>
                                    </a>
                                </div>
                                <div class="blog-post-content pst-23">
                                    <h6 class="font-18 text-uppercase"><a href="article.html" class="d-inline-block">Who avoids a produces?</a></h6>
                                    <p class="font-16 mst-16">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eg</p>
                                    <a href="article.html" class="link-btn mst-16">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4" data-animate="animate__fadeIn">
                            <div class="blog-post banner-hover">
                                <div class="blog-main-img">
                                    <a href="article.html" class="d-block banner-img position-relative br-hidden">
                                        <img src="/static/image/index/article/a-6.jpg" class="w-100 img-fluid" alt="a-6">
                                        <span class="d-inline-block dominant-color position-absolute start-0 bottom-0 ptb-10 plr-30 extra-bg heading-weight text-uppercase">01 Feb, 2023</span>
                                    </a>
                                </div>
                                <div class="blog-post-content pst-23">
                                    <h6 class="font-18 text-uppercase"><a href="article.html" class="d-inline-block">Where does it come from?</a></h6>
                                    <p class="font-16 mst-16">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eg</p>
                                    <a href="article.html" class="link-btn mst-16">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- blog-grid end -->
                    <!-- paginatoin start -->
                    <div class="paginatoin-area section-pt" data-animate="animate__fadeIn">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination ul-mt5 align-items-center justify-content-center pagination-box">
                                <li class="page-item first">
                                    <a href="javascript:void(0)" class="page-link p-0 m-0 bg-transparent heading-weight border-0 lh-1" aria-label="First page">First</a>
                                </li>
                                <li class="page-item prev">
                                    <a href="javascript:void(0)" class="page-link icon-16 d-flex align-items-center justify-content-center p-0 m-0 bg-transparent heading-weight border-0 border-radius" aria-label="Previous"><i class="ri-arrow-left-line d-block lh-1"></i></a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0)" class="page-link d-flex align-items-center justify-content-center p-0 m-0 heading-weight border-0 border-radius lh-1" aria-label="Page number">1</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0)" class="page-link active d-flex align-items-center justify-content-center p-0 m-0 heading-weight border-0 border-radius lh-1" aria-label="Page number">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0)" class="page-link d-flex align-items-center justify-content-center p-0 m-0 heading-weight border-0 border-radius lh-1" aria-label="Page number">3</a>
                                </li>
                                <li class="page-item next">
                                    <a href="javascript:void(0)" class="page-link icon-16 d-flex align-items-center justify-content-center p-0 m-0 bg-transparent heading-weight border-0 border-radius" aria-label="Next"><i class="ri-arrow-right-line d-block lh-1"></i></a>
                                </li>
                                <li class="page-item last">
                                    <a href="javascript:void(0)" class="page-link p-0 m-0 bg-transparent heading-weight border-0 lh-1" aria-label="Last page">Last</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- paginatoin end -->
                </div>
            </div>
        </div>
    </section>
    <!-- search-page end -->
</main>
<!-- main end -->

{% endblock %}