{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}

<!-- main start -->
<main id="main">
    <!-- login start -->
    <section class="customer-account section-ptb">
        <div class="container">
            <div class="section-capture text-center" data-animate="animate__fadeIn">
                <div class="section-title">
                    <h2 class="section-heading">Login account</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5 mx-md-auto">
                    <form method="post">
                        {% csrf_token %}
                        {% include 'includes/messages.html' %}
                        {{ form.non_field_errors }}
                        <div class="row field-row">
                            <div class="col-12 field-col" data-animate="animate__fadeIn">
                                <label for="email" class="field-label">Email</label>
                                <div class="field-pwd d-flex">
                                    <!-- <input type="email" id="email" name="email"
                                        class="w-100 h-auto p-0 bg-transparent border-0" placeholder="Email"
                                        autocomplete="email"> -->
                                        {{ form.username }}
                                        {{ form.username.errors }}
                                    <button type="button" class="body-color icon-16" aria-label="Password hidden"><i
                                            class="ri-mail-line d-block lh-1"></i></button>
                                </div>
                            </div>
                            <div class="col-12 field-col" data-animate="animate__fadeIn">
                                <label for="password" class="field-label">Password</label>
                                <div class="field-pwd d-flex">
                                    <!-- <input type="password" id="password" name="password"
                                        class="w-100 h-auto p-0 bg-transparent border-0" placeholder="Password"
                                        autocomplete="current-password"> -->
                                        {{ form.password }}
                                        {{ form.password.errors }}
                                    <button type="button" class="field-pwd-btn body-color icon-16"
                                        aria-label="Password hidden"><i class="ri-eye-line d-block lh-1"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="customer-account-btn mst-20 mst-sm-30">
                            <div class="row btn-row15">
                                <div class="col-12 col-sm-5" data-animate="animate__fadeIn">
                                    <button type="submit" class="w-100 btn-style2 quaternary-btn">Sign in</button>
                                </div>
                                <div class="col-12 col-sm-7" data-animate="animate__fadeIn">
                                    <a href="/forgot-password/" class="w-100 btn-style2 secondary-btn">Forgot your
                                        password?</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="mst-30 text-center">
                        <h6 class="font-18" data-animate="animate__fadeIn">Don't have an account?</h6>
                        <a href="/register/" class="d-inline-block body-secondary-color mst-8 text-decoration-underline"
                            data-animate="animate__fadeIn">Create an account</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- login end -->
</main>
<!-- main end -->

{% endblock %}