{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Profile notification</title>
{% endblock %}

{% block content %}

<!-- main start -->
<main id="main">
    <!-- account-page strat -->
    <section class="account-page section-ptb">
        <div class="container">
            <div class="row row-mtm align-items-lg-start">
                {% include 'includes/profile-list.html' %}
                <div class="col-12 col-lg-8 col-xl-9 p-lg-sticky top-0">
                    <div class="ap-detail">
                        <div class="ap-title meb-30" data-animate="animate__fadeIn">
                            <h6 class="font-18">Manage notification</h6>
                        </div>
                        <div class="ap-detail-info">
                            <div class="row row-mtm30">
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <div
                                        class="ap-noti-content d-flex align-items-center justify-content-between ptb-30 plr-15 plr-sm-30 extra-bg border-radius">
                                        <div class="ap-noti-it d-flex align-items-center"><i
                                                class="ri-smartphone-line icon-16 mer-5"></i>Mobile</div>
                                        <div class="ap-noti-switch">
                                            <label class="cust-switch-label">
                                                <input type="checkbox" id="noti-mobile-switch" name="noti-mobile-switc"
                                                    class="cust-switch" checked>
                                                <span class="cust-switch-slide"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <div
                                        class="ap-noti-content d-flex align-items-center justify-content-between ptb-30 plr-15 plr-sm-30 extra-bg border-radius">
                                        <div class="ap-noti-it d-flex align-items-center"><i
                                                class="ri-mail-line icon-16 mer-5"></i>Mail</div>
                                        <div class="ap-noti-switch">
                                            <label class="cust-switch-label">
                                                <input type="checkbox" id="noti-mail-switch" name="noti-mail-switch"
                                                    class="cust-switch">
                                                <span class="cust-switch-slide"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ap-noti-text mst-30" data-animate="animate__fadeIn">
                                <div class="ul-mtm20">
                                    <span>To ensure you do not miss order related updates.</span>
                                    <span>We will send you sms alerts until your package is delivered.</span>
                                    <span>You will also receive alerts in case of delays/issues with your order.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- delete-modal start -->
        {% include 'includes/delete-modal.html' %}
        <!-- delete-modal end -->
    </section>
    <!-- account-page end -->
</main>
<!-- main end -->

{% endblock %}