{% extends 'base.html' %}

{% block title %}
    <title>Profile wishlist</title>
{% endblock %}

{% block content %}

<!-- main start -->
<main id="main">
    <!-- account-page strat -->
    <section class="account-page section-ptb">
        <div class="container">
            <div class="row row-mtm align-items-lg-start">
                {% include 'includes/profile-list.html' %}
                <div class="col-12 col-lg-8 col-xl-9 p-lg-sticky top-0">
                    <div class="ap-detail">
                        <form method="post" action="javascript:void(0)">
                            <div class="wish-title d-flex align-items-center justify-content-between peb-30 beb" data-animate="animate__fadeIn">
                                <h6 class="font-18">My favorites</h6>
                                <span class="wish-count"><span class="wish-counter">5</span> Items</span>
                            </div>
                            <div class="wish-table">
                                <div class="wish-table-heading d-none d-md-block ptb-30 beb" data-animate="animate__fadeIn">
                                    <div class="row">
                                        <div class="col-md-5 col-xl-4 heading-color heading-weight">Product</div>
                                        <div class="col-md-3 heading-color heading-weight">Qty</div>
                                        <div class="col-md-2 col-xl-3 heading-color heading-weight">Total</div>
                                        <div class="col-md-2 heading-color heading-weight text-end">Option</div>
                                    </div>
                                </div>
                                <div class="wish-table-data">
                                    <div class="wish-table-info ptb-30 beb" data-animate="animate__fadeIn">
                                        <div class="row row-mtm">
                                            <div class="wish-table-item">
                                                <div class="row row-mtm30">
                                                    <div class="col-12 col-md-5 col-xl-4">
                                                        <div class="d-md-none heading-color heading-weight meb-14">Product</div>
                                                        <div class="wish-item-content d-flex flex-wrap">
                                                            <div class="wish-item-image width-88">
                                                                <a href="/product/" class="d-block br-hidden"><img src="/static/image/cart/cart-1.jpg" class="w-100 img-fluid" alt="cart-1"></a>
                                                            </div>
                                                            <div class="wish-item-info width-calc-88 psl-15">
                                                                <a href="/product/" class="body-dominant-color">Refractometers</a>
                                                                <div class="wish-item-price mst-4">$79.00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-sm-4 col-md-3">
                                                        <div class="d-md-none heading-color heading-weight meb-14">Qty</div>
                                                        <div class="js-qty-wrapper">
                                                            <div class="js-qty-wrap d-flex extra-bg border-full br-hidden">
                                                                <button type="button" class="js-qty-adjust js-qty-adjust-minus body-color icon-16 ber" aria-label="Remove item"><i class="ri-subtract-line d-block lh-1"></i></button>
                                                                <input type="number" name="refractometers" class="js-qty-num p-0 text-center border-0" value="1" min="1">
                                                                <button type="button" class="js-qty-adjust js-qty-adjust-plus body-color icon-16 bsl" aria-label="Add item"><i class="ri-add-line d-block lh-1"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3 col-sm-4 col-md-2 col-xl-3">
                                                        <div class="d-md-none heading-color heading-weight meb-9">Total</div>
                                                        <div class="wish-total-price">$79.00</div>
                                                    </div>
                                                    <div class="col-3 col-sm-4 col-md-2 text-end">
                                                        <div class="d-md-none heading-color heading-weight meb-14">Option</div>
                                                        <button type="submit" class="wish-remove text-danger icon-16" aria-label="Remove item"><i class="ri-close-large-line d-block lh-1"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wish-note-cart">
                                                <div class="row row-mtm justify-content-sm-between align-items-sm-end">
                                                    <div class="col-12 col-sm-7 col-md-8 col-xl-4">
                                                        <div class="wish-note-content">
                                                            <div class="wish-note">
                                                                <button type="button" class="st-field-btn wish-add-note body-color d-flex align-items-center"><span class="st-field-icon float-start icon-16 d-flex align-items-center justify-content-center extra-bg mer-5 border-full border-radius"><i class="ri-add-line d-block lh-1"></i></span>Add a note</button>
                                                            </div>
                                                            <div class="wish-textarea d-none">
                                                                <div class="row field-row">
                                                                    <div class="col-12 field-col">
                                                                        <label for="refractometers-note" class="field-label">Order note</label>
                                                                        <textarea rows="5" id="refractometers-note" name="refractometers-note" class="w-100 cart-notes"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="wish-btn d-none mst-15">
                                                                <div class="ul-mtm15">
                                                                    <button type="button" class="wish-save body-dominant-color">Save changes</button>
                                                                    <button type="button" class="wish-cancel body-dominant-color">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-5 col-md-4">
                                                        <button type="submit" class="w-100 btn-style2 secondary-btn add-to-cart">
                                                            <span class="product-icon">
                                                                <span class="product-bag-icon">Add to cart</span>
                                                                <span class="product-loader-icon icon-16"><i class="ri-loader-4-line d-block lh-1"></i></span>
                                                                <span class="product-check-icon icon-16"><i class="ri-check-line d-block lh-1"></i></span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wish-table-info ptb-30 beb" data-animate="animate__fadeIn">
                                        <div class="row row-mtm">
                                            <div class="wish-table-item">
                                                <div class="row row-mtm30">
                                                    <div class="col-12 col-md-5 col-xl-4">
                                                        <div class="d-md-none heading-color heading-weight meb-14">Product</div>
                                                        <div class="wish-item-content d-flex flex-wrap">
                                                            <div class="wish-item-image width-88">
                                                                <a href="/product/" class="d-block br-hidden"><img src="/static/image/cart/cart-2.jpg" class="w-100 img-fluid" alt="cart-2"></a>
                                                            </div>
                                                            <div class="wish-item-info width-calc-88 psl-15">
                                                                <a href="/product/" class="body-dominant-color">Digital thermometer</a>
                                                                <div class="wish-item-price mst-4">$49.00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-sm-4 col-md-3">
                                                        <div class="d-md-none heading-color heading-weight meb-14">Qty</div>
                                                        <div class="js-qty-wrapper">
                                                            <div class="js-qty-wrap d-flex extra-bg border-full br-hidden">
                                                                <button type="button" class="js-qty-adjust js-qty-adjust-minus body-color icon-16 ber" aria-label="Remove item"><i class="ri-subtract-line d-block lh-1"></i></button>
                                                                <input type="number" name="digital-thermometer" class="js-qty-num p-0 text-center border-0" value="1" min="1">
                                                                <button type="button" class="js-qty-adjust js-qty-adjust-plus body-color icon-16 bsl" aria-label="Add item"><i class="ri-add-line d-block lh-1"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3 col-sm-4 col-md-2 col-xl-3">
                                                        <div class="d-md-none heading-color heading-weight meb-9">Total</div>
                                                        <div class="wish-total-price">$49.00</div>
                                                    </div>
                                                    <div class="col-3 col-sm-4 col-md-2 text-end">
                                                        <div class="d-md-none heading-color heading-weight meb-14">Option</div>
                                                        <button type="submit" class="wish-remove text-danger icon-16" aria-label="Remove item"><i class="ri-close-large-line d-block lh-1"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wish-note-cart">
                                                <div class="row row-mtm justify-content-sm-between align-items-sm-end">
                                                    <div class="col-12 col-sm-7 col-md-8 col-xl-4">
                                                        <div class="wish-note-content">
                                                            <div class="wish-note d-none">
                                                                <button type="button" class="st-field-btn wish-add-note body-color d-flex align-items-center"><span class="st-field-icon float-start icon-16 d-flex align-items-center justify-content-center extra-bg mer-5 border-full border-radius"><i class="ri-add-line d-block lh-1"></i></span>Add a note</button>
                                                            </div>
                                                            <div class="wish-textarea">
                                                                <div class="row field-row">
                                                                    <div class="col-12 field-col">
                                                                        <label for="digital-thermometer-note" class="field-label">Order note</label>
                                                                        <textarea rows="5" id="digital-thermometer-note" name="digital-thermometer-note" class="w-100 cart-notes">Please arrange the delivery as soon as possible, Please keep safe.</textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="wish-btn d-none mst-15">
                                                                <div class="ul-mtm15">
                                                                    <button type="button" class="wish-save body-dominant-color">Save changes</button>
                                                                    <button type="button" class="wish-cancel body-dominant-color">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-5 col-md-4">
                                                        <button type="submit" class="w-100 btn-style2 secondary-btn add-to-cart">
                                                            <span class="product-icon">
                                                                <span class="product-bag-icon">Add to cart</span>
                                                                <span class="product-loader-icon icon-16"><i class="ri-loader-4-line d-block lh-1"></i></span>
                                                                <span class="product-check-icon icon-16"><i class="ri-check-line d-block lh-1"></i></span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wish-table-info ptb-30 beb" data-animate="animate__fadeIn">
                                        <div class="row row-mtm">
                                            <div class="wish-table-item">
                                                <div class="row row-mtm30">
                                                    <div class="col-12 col-md-5 col-xl-4">
                                                        <div class="d-md-none heading-color heading-weight meb-14">Product</div>
                                                        <div class="wish-item-content d-flex flex-wrap">
                                                            <div class="wish-item-image width-88">
                                                                <a href="/product/" class="d-block br-hidden"><img src="/static/image/cart/cart-3.jpg" class="w-100 img-fluid" alt="cart-3"></a>
                                                            </div>
                                                            <div class="wish-item-info width-calc-88 psl-15">
                                                                <a href="/product/" class="body-dominant-color">Optical microscope</a>
                                                                <div class="wish-item-price mst-4">$69.00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-sm-4 col-md-3">
                                                        <div class="d-md-none heading-color heading-weight meb-14">Qty</div>
                                                        <div class="js-qty-wrapper">
                                                            <div class="js-qty-wrap d-flex extra-bg border-full br-hidden">
                                                                <button type="button" class="js-qty-adjust js-qty-adjust-minus body-color icon-16 ber" aria-label="Remove item"><i class="ri-subtract-line d-block lh-1"></i></button>
                                                                <input type="number" name="optical-microscope" class="js-qty-num p-0 text-center border-0" value="1" min="1">
                                                                <button type="button" class="js-qty-adjust js-qty-adjust-plus body-color icon-16 bsl" aria-label="Add item"><i class="ri-add-line d-block lh-1"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3 col-sm-4 col-md-2 col-xl-3">
                                                        <div class="d-md-none heading-color heading-weight meb-9">Total</div>
                                                        <div class="wish-total-price">$69.00</div>
                                                    </div>
                                                    <div class="col-3 col-sm-4 col-md-2 text-end">
                                                        <div class="d-md-none heading-color heading-weight meb-14">Option</div>
                                                        <button type="submit" class="wish-remove text-danger icon-16" aria-label="Remove item"><i class="ri-close-large-line d-block lh-1"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wish-note-cart">
                                                <div class="row row-mtm justify-content-sm-between align-items-sm-end">
                                                    <div class="col-12 col-sm-7 col-md-8 col-xl-4">
                                                        <div class="wish-note-content">
                                                            <div class="wish-note d-none">
                                                                <button type="button" class="st-field-btn wish-add-note body-color d-flex align-items-center"><span class="st-field-icon float-start icon-16 d-flex align-items-center justify-content-center extra-bg mer-5 border-full border-radius"><i class="ri-add-line d-block lh-1"></i></span>Add a note</button>
                                                            </div>
                                                            <div class="wish-textarea">
                                                                <div class="row field-row">
                                                                    <div class="col-12 field-col">
                                                                        <label for="optical-microscope-note" class="field-label">Order note</label>
                                                                        <textarea rows="5" id="optical-microscope-note" name="optical-microscope-note" class="w-100 cart-notes focus">Please arrange the delivery at my neighbor's house, Because at that time I am not available at home.</textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="wish-btn mst-15">
                                                                <div class="ul-mtm15">
                                                                    <button type="button" class="wish-save body-dominant-color">Save changes</button>
                                                                    <button type="button" class="wish-cancel body-dominant-color">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-5 col-md-4">
                                                        <button type="submit" class="w-100 btn-style2 secondary-btn add-to-cart">
                                                            <span class="product-icon">
                                                                <span class="product-bag-icon">Add to cart</span>
                                                                <span class="product-loader-icon icon-16"><i class="ri-loader-4-line d-block lh-1"></i></span>
                                                                <span class="product-check-icon icon-16"><i class="ri-check-line d-block lh-1"></i></span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="ap-button mst-30" data-animate="animate__fadeIn">
                            <div class="row">
                                <div class="col-12 col-md-8 col-xl-4">
                                    <a href="/wishlist/" class="w-100 btn-style2 secondary-btn">See more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- delete-modal start -->
        {% include 'includes/delete-modal.html' %}
        <!-- delete-modal end -->
    </section>
    <!-- account-page end -->
</main>
<!-- main end -->

{% endblock %}