{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Profile order</title>
{% endblock %}

{% block content %}

<!-- main start -->
<main id="main">
    <!-- account-page strat -->
    <section class="account-page section-ptb">
        <div class="container">
            <div class="row row-mtm align-items-lg-start">
                {% include 'includes/profile-list.html' %}
                <div class="col-12 col-lg-8 col-xl-9 p-lg-sticky top-0">
                    <div class="ap-detail">
                        <div class="ap-title peb-30 beb" data-animate="animate__fadeIn">
                            <h6 class="font-18">Order</h6>
                        </div>
                        <div class="ap-detail-info">
                            <div class="od-wrap ptb-30 beb" data-animate="animate__fadeIn">
                                <div class="od-view ul-mtm30">
                                    <div class="od-id">
                                        <div class="row">
                                            <div class="col-6 col-lg-3">Order id</div>
                                            <div class="col-6 col-lg-3">
                                                <a href="/order-info-cancel/"
                                                    class="d-inline-block body-dominant-color text-decoration-underline">#1720</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="od-info">
                                        <div class="row row-mtm20">
                                            <div class="col-12 col-lg-6">
                                                <div class="row">
                                                    <div class="col-6">Date</div>
                                                    <div class="col-6">19<sup>th</sup> Jan 2023</div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="row">
                                                    <div class="col-6">Payment</div>
                                                    <div class="col-6 text-danger">Refund</div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="row">
                                                    <div class="col-6">Total</div>
                                                    <div class="col-6">$245.00</div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="row">
                                                    <div class="col-6">Status</div>
                                                    <div class="col-6">Cancel</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="od-link">
                                        <div class="row">
                                            <div class="col-6 col-lg-3">
                                                <a href="/invoice/"
                                                    class="d-inline-block body-dominant-color text-decoration-underline">View
                                                    invoce</a>
                                            </div>
                                            <div class="col-6 col-lg-3">
                                                <a href="/product/"
                                                    class="d-inline-block body-dominant-color text-decoration-underline">Buy
                                                    again</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="od-note">
                                        <span class="d-inline-block"><span
                                                class="heading-color heading-weight">Note:</span> Please cancel my order
                                            and give me refund because of i don't like the product.</span>
                                    </div>
                                </div>
                                <div class="od-btn mst-24">
                                    <div class="row row-mtm15">
                                        <div class="col-12 col-sm-6 col-xl-3">
                                            <a href="#reviewmodal"
                                                class="w-100 btn-style2 quaternary-btn opacity-50 disabled"
                                                data-bs-toggle="modal">Write a review</a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-xl-3">
                                            <a href="/order-info-cancel/" class="w-100 btn-style2 secondary-btn">Track
                                                order</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="od-wrap ptb-30 beb" data-animate="animate__fadeIn">
                                <div class="od-view ul-mtm30">
                                    <div class="od-id">
                                        <div class="row">
                                            <div class="col-6 col-lg-3">Order id</div>
                                            <div class="col-6 col-lg-3">
                                                <a href="/order-info-pickup/"
                                                    class="d-inline-block body-dominant-color text-decoration-underline">#1719</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="od-info">
                                        <div class="row row-mtm20">
                                            <div class="col-12 col-lg-6">
                                                <div class="row">
                                                    <div class="col-6">Date</div>
                                                    <div class="col-6">18<sup>th</sup> Jan 2023</div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="row">
                                                    <div class="col-6">Payment</div>
                                                    <div class="col-6 text-success">Paid</div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="row">
                                                    <div class="col-6">Total</div>
                                                    <div class="col-6">$245.00</div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="row">
                                                    <div class="col-6">Status</div>
                                                    <div class="col-6">Pickup at store</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="od-link">
                                        <div class="row">
                                            <div class="col-6 col-lg-3">
                                                <a href="/invoice/"
                                                    class="d-inline-block body-dominant-color text-decoration-underline">View
                                                    invoce</a>
                                            </div>
                                            <div class="col-6 col-lg-3">
                                                <a href="/product/"
                                                    class="d-inline-block body-dominant-color text-decoration-underline">Buy
                                                    again</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="od-note">
                                        <span class="d-inline-block"><span
                                                class="heading-color heading-weight">Note:</span> Please ready to my
                                            order as soon as possible, I will be their to pickup by myself.</span>
                                    </div>
                                </div>
                                <div class="od-btn mst-24">
                                    <div class="row row-mtm15">
                                        <div class="col-12 col-sm-6 col-xl-3">
                                            <a href="#reviewmodal" class="w-100 btn-style2 quaternary-btn"
                                                data-bs-toggle="modal">Write a review</a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-xl-3">
                                            <a href="/order-info-pickup/" class="w-100 btn-style2 secondary-btn">Track
                                                order</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="od-wrap ptb-30 beb" data-animate="animate__fadeIn">
                                <div class="od-view ul-mtm30">
                                    <div class="od-id">
                                        <div class="row">
                                            <div class="col-6 col-lg-3">Order id</div>
                                            <div class="col-6 col-lg-3">
                                                <a href="/order-info-delivered/"
                                                    class="d-inline-block body-dominant-color text-decoration-underline">#1718</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="od-info">
                                        <div class="row row-mtm20">
                                            <div class="col-12 col-lg-6">
                                                <div class="row">
                                                    <div class="col-6">Date</div>
                                                    <div class="col-6">18<sup>th</sup> Jan 2023</div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="row">
                                                    <div class="col-6">Payment</div>
                                                    <div class="col-6 text-success">Paid</div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="row">
                                                    <div class="col-6">Total</div>
                                                    <div class="col-6">$245.00</div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="row">
                                                    <div class="col-6">Status</div>
                                                    <div class="col-6">Delivered</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="od-link">
                                        <div class="row">
                                            <div class="col-6 col-lg-3">
                                                <a href="/invoice/"
                                                    class="d-inline-block body-dominant-color text-decoration-underline">View
                                                    invoce</a>
                                            </div>
                                            <div class="col-6 col-lg-3">
                                                <a href="/product/"
                                                    class="d-inline-block body-dominant-color text-decoration-underline">Buy
                                                    again</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="od-note">
                                        <span class="d-inline-block"><span
                                                class="heading-color heading-weight">Note:</span> Please arrange the
                                            delivery as soon as possible, I need urgent.</span>
                                    </div>
                                </div>
                                <div class="od-btn mst-24">
                                    <div class="row row-mtm15">
                                        <div class="col-12 col-sm-6 col-xl-3">
                                            <a href="#reviewmodal" class="w-100 btn-style2 quaternary-btn"
                                                data-bs-toggle="modal">Write a review</a>
                                        </div>
                                        <div class="col-12 col-sm-6 col-xl-3">
                                            <a href="/order-info-delivered/"
                                                class="w-100 btn-style2 secondary-btn">Track order</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ap-button mst-30" data-animate="animate__fadeIn">
                            <div class="row">
                                <div class="col-12 col-md-6 col-xl-3">
                                    <a href="/order/" class="w-100 btn-style2 secondary-btn">See more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- review-modal start -->
        <div class="review-modal modal fade" id="reviewmodal" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content body-bg border-0 br-hidden">
                    <div class="modal-body ptb-30 plr-15 plr-sm-30">
                        <form method="post">
                            <div class="review-modal-header d-flex align-items-center justify-content-between meb-30">
                                <h6 class="font-18">Back to order</h6>
                                <button type="button" class="body-secondary-color icon-16" data-bs-dismiss="modal"
                                    aria-label="Close"><i class="ri-close-large-line d-block lh-1"></i></button>
                            </div>
                            <div class="review-modal-field">
                                <div class="row field-row">
                                    <div class="col-12 field-col">
                                        <label class="field-label">Rating</label>
                                        <div class="product-ratting">
                                            <span class="review-ratting">
                                                <span class="review-star">
                                                    <i class="ri-star-line"></i>
                                                    <i class="ri-star-line"></i>
                                                    <i class="ri-star-line"></i>
                                                    <i class="ri-star-line"></i>
                                                    <i class="ri-star-line"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12 field-col">
                                        <label for="name" class="field-label">Name</label>
                                        <input type="text" id="name" name="name" class="w-100" placeholder="Demo name"
                                            autocomplete="name">
                                    </div>
                                    <div class="col-12 field-col">
                                        <label for="name" class="field-label">Email</label>
                                        <input type="email" id="email" name="email" class="w-100"
                                            placeholder="demo@demo.com" autocomplete="email">
                                    </div>
                                    <div class="col-12 field-col">
                                        <label for="name" class="field-label">Review title</label>
                                        <input type="text" id="title" name="title" class="w-100"
                                            placeholder="Review title" autocomplete="name">
                                    </div>
                                    <div class="col-12 field-col">
                                        <label for="message" class="field-label">Message</label>
                                        <textarea rows="5" id="message" name="message" class="w-100"
                                            placeholder="Review message" autocomplete="off"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="review-modal-button mst-30">
                                <div class="row btn-row">
                                    <div class="col-12 col-sm-6">
                                        <button type="submit" class="w-100 btn-style2 quaternary-btn">Submit
                                            review</button>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <button type="button" class="w-100 btn-style2 secondary-btn"
                                            data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- review-modal end -->
        <!-- delete-modal start -->
        {% include 'includes/delete-modal.html' %}
        <!-- delete-modal end -->
    </section>
    <!-- account-page end -->
</main>
<!-- main end -->

{% endblock %}