{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Invoice</title>
{% endblock %}

{% block content %}

<!-- main start -->
<main id="main">
    <!-- invoice start -->
    <section class="invoice section-ptb">
        <div class="container">
            <div class="col-xl-10 mx-xl-auto">
                <div class="ptb-30 ptb-xl-50 plr-15 plr-sm-30 plr-xl-50 extra-bg box-shadow invoice-content">
                    <div class="row">
                        <div class="col-6 invoice-theme-logo">
                            <a href="/" class="d-block theme-logo">
                                <img src="{% static 'image/index/logo.png' %}" class="width-112 img-fluid" alt="logo">
                            </a>
                        </div>
                        <div class="col-6 text-end">
                            <h2 class="font-24">Invoice</h2>
                            <span class="d-block mst-6"><span
                                    class="heading-color heading-weight mer-5">No:</span>#1718</span>
                        </div>
                    </div>
                    <div class="mst-30 pst-30 bst">
                        <div class="row row-mtm">
                            <div class="col-6">
                                <div class="ul-mtm20">
                                    <span class="heading-color heading-weight">Issued on:</span>
                                    <span>18<sup>th</sup> Jan 2023</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="ul-mtm20">
                                    <span class="heading-color heading-weight">Due on:</span>
                                    <span>24<sup>th</sup> Jan 2023</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mst-30 pst-30 bst">
                        <div class="row">
                            <div class="col-6">
                                <span class="d-block heading-color meb-9 heading-weight">From,</span>
                                <div class="ul-mtm20">
                                    <span>Bangalore bazaar</span>
                                    <span>1234 MG road</span>
                                    <span>Bengaluru</span>
                                    <span>Karnataka 560001</span>
                                    <span>India</span>
                                    <span>Tax number - 29BBBBB1111B2Z6</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <span class="d-block heading-color meb-9 heading-weight">To,</span>
                                <div class="ul-mtm20">
                                    <span>Mysore market</span>
                                    <span>456 Sayyaji rao road</span>
                                    <span>Mysore</span>
                                    <span>Karnataka 570021</span>
                                    <span>India</span>
                                    <span>Tax number - 29AAAAA0000A1Z5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-table mst-30">
                        <div class="row">
                            <div class="invoice-table-block">
                                <div class="invoice-table-block-row ptb-15 bst">
                                    <div class="row">
                                        <div class="col-6 heading-color heading-weight">Product</div>
                                        <div class="col-2 heading-color heading-weight">Price</div>
                                        <div class="col-2 heading-color heading-weight text-center">Qty</div>
                                        <div class="col-2 heading-color heading-weight text-end">Total</div>
                                    </div>
                                </div>
                                <div class="invoice-table-block-row ptb-15 bst">
                                    <div class="row row-mtm20">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">Refractometers</div>
                                                <div class="col-2">$79.00</div>
                                                <div class="col-2 text-center">1</div>
                                                <div class="col-2 text-end">$79.00</div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">Digital thermometer</div>
                                                <div class="col-2">$49.00</div>
                                                <div class="col-2 text-center">1</div>
                                                <div class="col-2 text-end">$49.00</div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">Optical microscope</div>
                                                <div class="col-2">$69.00</div>
                                                <div class="col-2 text-center">1</div>
                                                <div class="col-2 text-end">$69.00</div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">Dental tools</div>
                                                <div class="col-2">$49.00</div>
                                                <div class="col-2 text-center">1</div>
                                                <div class="col-2 text-end">$49.00</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="invoice-table-block-row ptb-15 bst">
                                    <div class="row row-mtm20">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">Subtotal</div>
                                                <div class="col-6 text-end">$246.00</div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">Discount</div>
                                                <div class="col-6 text-end">-$11.00</div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">Shipping</div>
                                                <div class="col-6 text-end">$0.00</div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">Tax</div>
                                                <div class="col-6 text-end">$10.00</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="invoice-table-block-row ptb-15 bst">
                                    <div class="row">
                                        <div class="col-6">Total</div>
                                        <div class="col-6 text-end">$245.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pst-30 bst">
                        <div class="ul-mtm15">
                            <span class="d-block"><span class="heading-color heading-weight mer-5">Tel:</span><a
                                    href="tel:+919876543210" class="body-dominant-color">+91 98765-43210</a></span>
                            <span class="d-block"><span class="heading-color heading-weight mer-5">Email:</span><a
                                    href="mailto:contact@demowebsite.com"
                                    class="body-dominant-color">contact@demowebsite.com</a></span>
                        </div>
                        <div class="font-11 mst-10 text-end">By paying, you agree to our terms.</div>
                    </div>
                </div>
                <div class="invoice-button mst-30">
                    <div class="ul-mt15 justify-content-center">
                        <div class="invoice-print-button" data-animate="animate__fadeIn">
                            <a href="javascript:window.print()"
                                class="body-secondary-color d-flex align-items-center ptb-10 plr-15 extra-bg border-full"><i
                                    class="ri-printer-line icon-16 mer-5"></i>Print</a>
                        </div>
                        <div class="invoice-download-button" data-animate="animate__fadeIn">
                            <button type="button"
                                class="invoice-download body-secondary-color d-flex align-items-center ptb-10 plr-15 extra-bg border-full"><i
                                    class="ri-download-line icon-16 mer-5"></i>Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- invoice end -->
</main>
<!-- main end -->

{% endblock %}