{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Order complete</title>
{% endblock %}

{% block content %}

<!-- main start -->
<main id="main">
    <!-- order-complete strat -->
    <section class="order-complete section-ptb">
        <div class="container">
            <div class="section-capture text-center">
                <span class="d-inline-block icon-40 meb-22 text-success" data-animate="animate__fadeIn"><i
                        class="ri-checkbox-circle-fill d-block lh-1"></i></span>
                <div class="section-title" data-animate="animate__fadeIn">
                    <h2 class="section-heading">Thank you for order</h2>
                </div>
            </div>
            <div class="oc-content ul-mtm30">
                <div class="oc-id">
                    <h6 class="font-18" data-animate="animate__fadeIn">Order id: #1724</h6>
                    <span class="d-inline-block mst-8" data-animate="animate__fadeIn">23<sup>rd</sup> Jan 2023 03:04
                        pm</span>
                </div>
                <div data-animate="animate__fadeIn">You will be able to track your order status at your <a
                        href="/profile-order/"
                        class="d-inline-block body-dominant-color text-decoration-underline">order page</a></div>
            </div>
        </div>
    </section>
    <!-- order-complete end -->
</main>
<!-- main end -->

{% endblock %}