{% extends 'base.html' %}

{% block title %}
    <title>Order</title>
{% endblock %}

{% block content %}

<!-- main start -->
<main id="main">
    <!-- order-page strat -->
    <section class="order-page section-ptb">
        <div class="container">
            <div class="section-capture text-center" data-animate="animate__fadeIn">
                <div class="section-title">
                    <h2 class="section-heading">Order</h2>
                </div>
            </div>
            <div class="order-area">
                <!-- order-return account start -->
                <div class="or-account peb-30 beb" data-animate="animate__fadeIn">
                    <a href="/profile-order/" class="body-dominant-color text-decoration-underline">Return to account details</a>
                </div>
                <!-- order-return account end -->
                <!-- order-detail start -->
                <div class="order-detail">
                    <div class="od-wrap ptb-30 beb" data-animate="animate__fadeIn">
                        <div class="od-view ul-mtm30">
                            <div class="od-id">
                                <div class="row">
                                    <div class="col-6 col-lg-3">Order id</div>
                                    <div class="col-6 col-lg-3">
                                        <a href="/order-info-default/" class="d-inline-block body-dominant-color text-decoration-underline">#1726</a>
                                    </div>
                                </div>
                            </div>
                            <div class="od-info">
                                <div class="row row-mtm20">
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Date</div>
                                            <div class="col-6">24<sup>th</sup> Jan 2023</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Payment</div>
                                            <div class="col-6 text-success">COD</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Total</div>
                                            <div class="col-6">$245.00</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                         <div class="row">
                                            <div class="col-6">Status</div>
                                            <div class="col-6">None</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="od-link">
                                <div class="row">
                                    <div class="col-6 col-lg-3">
                                        <a href="/invoice/" class="d-inline-block body-dominant-color text-decoration-underline">View invoce</a>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <a href="/product/" class="d-inline-block body-dominant-color text-decoration-underline">Buy again</a>
                                    </div>
                                </div>
                            </div>
                            <div class="od-note">
                                <span class="d-inline-block"><span class="heading-color heading-weight">Note:</span> Please arrange the delivery as soon as possible.</span>
                            </div>
                        </div>
                        <div class="od-btn mst-24">
                            <div class="row row-mtm15">
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <a href="#reviewmodal" class="w-100 btn-style2 quaternary-btn opacity-50 disabled" data-bs-toggle="modal">Write a review</a>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <a href="/order-info-default/" class="w-100 btn-style2 secondary-btn">Track order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="od-wrap ptb-30 beb" data-animate="animate__fadeIn">
                        <div class="od-view ul-mtm30">
                            <div class="od-id">
                                <div class="row">
                                    <div class="col-6 col-lg-3">Order id</div>
                                    <div class="col-6 col-lg-3">
                                        <a href="/order-info-unfulfilled/" class="d-inline-block body-dominant-color text-decoration-underline">#1725</a>
                                    </div>
                                </div>
                            </div>
                            <div class="od-info">
                                <div class="row row-mtm20">
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Date</div>
                                            <div class="col-6">23<sup>rd</sup> Jan 2023</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Payment</div>
                                            <div class="col-6 text-success">COD</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Total</div>
                                            <div class="col-6">$245.00</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                         <div class="row">
                                            <div class="col-6">Status</div>
                                            <div class="col-6">Unfulfilled</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="od-link">
                                <div class="row">
                                    <div class="col-6 col-lg-3">
                                        <a href="/invoice/" class="d-inline-block body-dominant-color text-decoration-underline">View invoce</a>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <a href="/product/" class="d-inline-block body-dominant-color text-decoration-underline">Buy again</a>
                                    </div>
                                </div>
                            </div>
                            <div class="od-note">
                                <span class="d-inline-block"><span class="heading-color heading-weight">Note:</span> Please arrange the delivery as soon as possible, Please leave the box on the porch behind the planter.</span>
                            </div>
                        </div>
                        <div class="od-btn mst-24">
                            <div class="row row-mtm15">
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <a href="#reviewmodal" class="w-100 btn-style2 quaternary-btn opacity-50 disabled" data-bs-toggle="modal">Write a review</a>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <a href="/order-info-unfulfilled/" class="w-100 btn-style2 secondary-btn">Track order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="od-wrap ptb-30 beb" data-animate="animate__fadeIn">
                        <div class="od-view ul-mtm30">
                            <div class="od-id">
                                <div class="row">
                                    <div class="col-6 col-lg-3">Order id</div>
                                    <div class="col-6 col-lg-3">
                                        <a href="/order-info-fulfilled/" class="d-inline-block body-dominant-color text-decoration-underline">#1724</a>
                                    </div>
                                </div>
                            </div>
                            <div class="od-info">
                                <div class="row row-mtm20">
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Date</div>
                                            <div class="col-6">22<sup>nd</sup> Jan 2023</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Payment</div>
                                            <div class="col-6 text-success">Paid</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Total</div>
                                            <div class="col-6">$245.00</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                         <div class="row">
                                            <div class="col-6">Status</div>
                                            <div class="col-6">Fulfilled</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="od-link">
                                <div class="row">
                                    <div class="col-6 col-lg-3">
                                        <a href="/invoice/" class="d-inline-block body-dominant-color text-decoration-underline">View invoce</a>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <a href="/product/" class="d-inline-block body-dominant-color text-decoration-underline">Buy again</a>
                                    </div>
                                </div>
                            </div>
                            <div class="od-note">
                                <span class="d-inline-block"><span class="heading-color heading-weight">Note:</span> Please arrange the delivery as soon as possible, Please keep safe.</span>
                            </div>
                        </div>
                        <div class="od-btn mst-24">
                            <div class="row row-mtm15">
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <a href="#reviewmodal" class="w-100 btn-style2 quaternary-btn opacity-50 disabled" data-bs-toggle="modal">Write a review</a>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <a href="/order-info-fulfilled/" class="w-100 btn-style2 secondary-btn">Track order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="od-wrap ptb-30 beb" data-animate="animate__fadeIn">
                        <div class="od-view ul-mtm30">
                            <div class="od-id">
                                <div class="row">
                                    <div class="col-6 col-lg-3">Order id</div>
                                    <div class="col-6 col-lg-3">
                                        <a href="/order-info-inprogress/" class="d-inline-block body-dominant-color text-decoration-underline">#1723</a>
                                    </div>
                                </div>
                            </div>
                            <div class="od-info">
                                <div class="row row-mtm20">
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Date</div>
                                            <div class="col-6">21<sup>st</sup> Jan 2023</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Payment</div>
                                            <div class="col-6 text-success">Paid</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Total</div>
                                            <div class="col-6">$245.00</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                         <div class="row">
                                            <div class="col-6">Status</div>
                                            <div class="col-6">In progress</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="od-link">
                                <div class="row">
                                    <div class="col-6 col-lg-3">
                                        <a href="/invoice/" class="d-inline-block body-dominant-color text-decoration-underline">View invoce</a>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <a href="/product/" class="d-inline-block body-dominant-color text-decoration-underline">Buy again</a>
                                    </div>
                                </div>
                            </div>
                            <div class="od-note">
                                <span class="d-inline-block"><span class="heading-color heading-weight">Note:</span> Please arrange the delivery at my neighbour house, Because of at that time i am not available at home.</span>
                            </div>
                        </div>
                        <div class="od-btn mst-24">
                            <div class="row row-mtm15">
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <a href="#reviewmodal" class="w-100 btn-style2 quaternary-btn opacity-50 disabled" data-bs-toggle="modal">Write a review</a>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <a href="/order-info-inprogress/" class="w-100 btn-style2 secondary-btn">Track order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="od-wrap ptb-30 beb" data-animate="animate__fadeIn">
                        <div class="od-view ul-mtm30">
                            <div class="od-id">
                                <div class="row">
                                    <div class="col-6 col-lg-3">Order id</div>
                                    <div class="col-6 col-lg-3">
                                        <a href="/order-info-intransit/" class="d-inline-block body-dominant-color text-decoration-underline">#1722</a>
                                    </div>
                                </div>
                            </div>
                            <div class="od-info">
                                <div class="row row-mtm20">
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Date</div>
                                            <div class="col-6">20<sup>th</sup> Jan 2023</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Payment</div>
                                            <div class="col-6 text-success">Paid</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Total</div>
                                            <div class="col-6">$245.00</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                         <div class="row">
                                            <div class="col-6">Status</div>
                                            <div class="col-6">In transit</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="od-link">
                                <div class="row">
                                    <div class="col-6 col-lg-3">
                                        <a href="/invoice/" class="d-inline-block body-dominant-color text-decoration-underline">View invoce</a>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <a href="/product/" class="d-inline-block body-dominant-color text-decoration-underline">Buy again</a>
                                    </div>
                                </div>
                            </div>
                            <div class="od-note">
                                <span class="d-inline-block"><span class="heading-color heading-weight">Note:</span> Please arrange the delivery before evening at 6:00 p.m, Because of no one at home at that time.</span>
                            </div>
                        </div>
                        <div class="od-btn mst-24">
                            <div class="row row-mtm15">
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <a href="#reviewmodal" class="w-100 btn-style2 quaternary-btn opacity-50 disabled" data-bs-toggle="modal">Write a review</a>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <a href="/order-info-intransit/" class="w-100 btn-style2 secondary-btn">Track order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="od-wrap ptb-30 beb" data-animate="animate__fadeIn">
                        <div class="od-view ul-mtm30">
                            <div class="od-id">
                                <div class="row">
                                    <div class="col-6 col-lg-3">Order id</div>
                                    <div class="col-6 col-lg-3">
                                        <a href="/order-info-indelivery/" class="d-inline-block body-dominant-color text-decoration-underline">#1721</a>
                                    </div>
                                </div>
                            </div>
                            <div class="od-info">
                                <div class="row row-mtm20">
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Date</div>
                                            <div class="col-6">19<sup>th</sup> Jan 2023</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Payment</div>
                                            <div class="col-6 text-success">Paid</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Total</div>
                                            <div class="col-6">$245.00</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                         <div class="row">
                                            <div class="col-6">Status</div>
                                            <div class="col-6">In delivery</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="od-link">
                                <div class="row">
                                    <div class="col-6 col-lg-3">
                                        <a href="/invoice/" class="d-inline-block body-dominant-color text-decoration-underline">View invoce</a>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <a href="/product/" class="d-inline-block body-dominant-color text-decoration-underline">Buy again</a>
                                    </div>
                                </div>
                            </div>
                            <div class="od-note">
                                <span class="d-inline-block"><span class="heading-color heading-weight">Note:</span> Please arrange the delivery before evening at 6:00 p.m, Because of no one at home at that time.</span>
                            </div>
                        </div>
                        <div class="od-btn mst-24">
                            <div class="row row-mtm15">
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <a href="#reviewmodal" class="w-100 btn-style2 quaternary-btn opacity-50 disabled" data-bs-toggle="modal">Write a review</a>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <a href="/order-info-indelivery/" class="w-100 btn-style2 secondary-btn">Track order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="od-wrap ptb-30 beb" data-animate="animate__fadeIn">
                        <div class="od-view ul-mtm30">
                            <div class="od-id">
                                <div class="row">
                                    <div class="col-6 col-lg-3">Order id</div>
                                    <div class="col-6 col-lg-3">
                                        <a href="/order-info-cancel/ class="d-inline-block body-dominant-color text-decoration-underline">#1720</a>
                                    </div>
                                </div>
                            </div>
                            <div class="od-info">
                                <div class="row row-mtm20">
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Date</div>
                                            <div class="col-6">19<sup>th</sup> Jan 2023</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Payment</div>
                                            <div class="col-6 text-danger">Refund</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Total</div>
                                            <div class="col-6">$245.00</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                         <div class="row">
                                            <div class="col-6">Status</div>
                                            <div class="col-6">Cancel</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="od-link">
                                <div class="row">
                                    <div class="col-6 col-lg-3">
                                        <a href="/invoice/" class="d-inline-block body-dominant-color text-decoration-underline">View invoce</a>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <a href="/product/" class="d-inline-block body-dominant-color text-decoration-underline">Buy again</a>
                                    </div>
                                </div>
                            </div>
                            <div class="od-note">
                                <span class="d-inline-block"><span class="heading-color heading-weight">Note:</span> Please cancel my order and give me refund because of i don't like the product.</span>
                            </div>
                        </div>
                        <div class="od-btn mst-24">
                            <div class="row row-mtm15">
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <a href="#reviewmodal" class="w-100 btn-style2 quaternary-btn opacity-50 disabled" data-bs-toggle="modal">Write a review</a>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <a href="/order-info-cancel/ class="w-100 btn-style2 secondary-btn">Track order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="od-wrap ptb-30 beb" data-animate="animate__fadeIn">
                        <div class="od-view ul-mtm30">
                            <div class="od-id">
                                <div class="row">
                                    <div class="col-6 col-lg-3">Order id</div>
                                    <div class="col-6 col-lg-3">
                                        <a href="/order-info-pickup/" class="d-inline-block body-dominant-color text-decoration-underline">#1719</a>
                                    </div>
                                </div>
                            </div>
                            <div class="od-info">
                                <div class="row row-mtm20">
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Date</div>
                                            <div class="col-6">18<sup>th</sup> Jan 2023</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Payment</div>
                                            <div class="col-6 text-success">Paid</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Total</div>
                                            <div class="col-6">$245.00</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                         <div class="row">
                                            <div class="col-6">Status</div>
                                            <div class="col-6">Pickup at store</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="od-link">
                                <div class="row">
                                    <div class="col-6 col-lg-3">
                                        <a href="/invoice/" class="d-inline-block body-dominant-color text-decoration-underline">View invoce</a>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <a href="/product/" class="d-inline-block body-dominant-color text-decoration-underline">Buy again</a>
                                    </div>
                                </div>
                            </div>
                            <div class="od-note">
                                <span class="d-inline-block"><span class="heading-color heading-weight">Note:</span> Please ready to my order as soon as possible, I will be their to pickup by myself.</span>
                            </div>
                        </div>
                        <div class="od-btn mst-24">
                            <div class="row row-mtm15">
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <a href="#reviewmodal" class="w-100 btn-style2 quaternary-btn" data-bs-toggle="modal">Write a review</a>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <a href="/order-info-pickup/" class="w-100 btn-style2 secondary-btn">Track order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="od-wrap ptb-30 beb" data-animate="animate__fadeIn">
                        <div class="od-view ul-mtm30">
                            <div class="od-id">
                                <div class="row">
                                    <div class="col-6 col-lg-3">Order id</div>
                                    <div class="col-6 col-lg-3">
                                        <a href="/order-info-delivered/" class="d-inline-block body-dominant-color text-decoration-underline">#1718</a>
                                    </div>
                                </div>
                            </div>
                            <div class="od-info">
                                <div class="row row-mtm20">
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Date</div>
                                            <div class="col-6">18<sup>th</sup> Jan 2023</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Payment</div>
                                            <div class="col-6 text-success">Paid</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-6">Total</div>
                                            <div class="col-6">$245.00</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                         <div class="row">
                                            <div class="col-6">Status</div>
                                            <div class="col-6">Delivered</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="od-link">
                                <div class="row">
                                    <div class="col-6 col-lg-3">
                                        <a href="/invoice/" class="d-inline-block body-dominant-color text-decoration-underline">View invoce</a>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <a href="/product/" class="d-inline-block body-dominant-color text-decoration-underline">Buy again</a>
                                    </div>
                                </div>
                            </div>
                            <div class="od-note">
                                <span class="d-inline-block"><span class="heading-color heading-weight">Note:</span> Please arrange the delivery as soon as possible, I need urgent.</span>
                            </div>
                        </div>
                        <div class="od-btn mst-24">
                            <div class="row row-mtm15">
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <a href="#reviewmodal" class="w-100 btn-style2 quaternary-btn" data-bs-toggle="modal">Write a review</a>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <a href="/order-info-delivered/" class="w-100 btn-style2 secondary-btn">Track order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- order-detail end -->
                <!-- paginatoin start -->
                <div class="paginatoin-area section-pt" data-animate="animate__fadeIn">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination ul-mt5 align-items-center justify-content-center pagination-box">
                            <li class="page-item first">
                                <a href="javascript:void(0)" class="page-link p-0 m-0 bg-transparent heading-weight border-0 lh-1" aria-label="First page">First</a>
                            </li>
                            <li class="page-item prev">
                                <a href="javascript:void(0)" class="page-link icon-16 d-flex align-items-center justify-content-center p-0 m-0 bg-transparent heading-weight border-0 border-radius" aria-label="Previous"><i class="ri-arrow-left-line d-block lh-1"></i></a>
                            </li>
                            <li class="page-item">
                                <a href="javascript:void(0)" class="page-link d-flex align-items-center justify-content-center p-0 m-0 heading-weight border-0 border-radius lh-1" aria-label="Page number">1</a>
                            </li>
                            <li class="page-item">
                                <a href="javascript:void(0)" class="page-link active d-flex align-items-center justify-content-center p-0 m-0 heading-weight border-0 border-radius lh-1" aria-label="Page number">2</a>
                            </li>
                            <li class="page-item">
                                <a href="javascript:void(0)" class="page-link d-flex align-items-center justify-content-center p-0 m-0 heading-weight border-0 border-radius lh-1" aria-label="Page number">3</a>
                            </li>
                            <li class="page-item next">
                                <a href="javascript:void(0)" class="page-link icon-16 d-flex align-items-center justify-content-center p-0 m-0 bg-transparent heading-weight border-0 border-radius" aria-label="Next"><i class="ri-arrow-right-line d-block lh-1"></i></a>
                            </li>
                            <li class="page-item last">
                                <a href="javascript:void(0)" class="page-link p-0 m-0 bg-transparent heading-weight border-0 lh-1" aria-label="Last page">Last</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- paginatoin end -->
            </div>
        </div>
        <!-- review-modal start -->
        <div class="review-modal modal fade" id="reviewmodal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content body-bg border-0 br-hidden">
                    <div class="modal-body ptb-30 plr-15 plr-sm-30">
                        <form method="post">
                            <div class="review-modal-header d-flex align-items-center justify-content-between meb-30">
                                <h6 class="font-18">Back to order</h6>
                                <button type="button" class="body-secondary-color icon-16" data-bs-dismiss="modal" aria-label="Close"><i class="ri-close-large-line d-block lh-1"></i></button>
                            </div>
                            <div class="review-modal-form">
                                <div class="row field-row">
                                    <div class="col-12 field-col">
                                        <label class="field-label">Rating</label>
                                        <div class="product-ratting">
                                            <span class="review-ratting">
                                                <span class="review-star">
                                                    <i class="ri-star-line"></i>
                                                    <i class="ri-star-line"></i>
                                                    <i class="ri-star-line"></i>
                                                    <i class="ri-star-line"></i>
                                                    <i class="ri-star-line"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12 field-col">
                                        <label for="name" class="field-label">Name</label>
                                        <input type="text" id="name" name="name" class="w-100" placeholder="Demo name" autocomplete="name">
                                    </div>
                                    <div class="col-12 field-col">
                                        <label for="name" class="field-label">Email</label>
                                        <input type="email" id="email" name="email" class="w-100" placeholder="demo@demo.com" autocomplete="email">
                                    </div>
                                    <div class="col-12 field-col">
                                        <label for="name" class="field-label">Review title</label>
                                        <input type="text" id="title" name="title" class="w-100" placeholder="Review title" autocomplete="name">
                                    </div>
                                    <div class="col-12 field-col">
                                        <label for="message" class="field-label">Message</label>
                                        <textarea rows="5" id="message" name="message" class="w-100" placeholder="Review message" autocomplete="off"></textarea>
                                    </div>
                                </div>
                                <div class="review-modal-button mst-30">
                                    <div class="row btn-row">
                                        <div class="col-12 col-sm-6">
                                            <button type="submit" class="w-100 btn-style2 quaternary-btn">Submit review</button>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <button type="button" class="w-100 btn-style2 secondary-btn" data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- review-modal end -->
    </section>
    <!-- order-page end -->
</main>
<!-- main end -->

{% endblock %}