{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Order info fulfilled</title>
{% endblock %}

{% block content %}

<!-- main start -->
<main id="main">
    <!-- order-info strat -->
    <section class="order-info section-ptb">
        <div class="container">
            <div class="row row-mtm align-items-lg-start">
                <div class="col-12 col-lg-7 p-lg-sticky top-0">
                    <!-- order-info return start -->
                    <div class="oi-return peb-30 meb-30 beb" data-animate="animate__fadeIn">
                        <a href="/order/" class="body-dominant-color text-decoration-underline">Return to order
                            details</a>
                    </div>
                    <!-- order-info return end -->
                    <div class="row row-mtm">
                        <!-- order-info view start -->
                        <div class="oi-view" data-animate="animate__fadeIn">
                            <div class="oi-view-wrap ul-mtm30">
                                <div class="oi-id">
                                    <h6 class="font-18">Order id: #1724</h6>
                                    <span class="d-inline-block mst-6">22<sup>nd</sup> Jan 2023, 07:36 p.m</span>
                                </div>
                                <div class="oi-status">
                                    <ul class="oi-status-ul ul-mtm20">
                                        <li class="oi-status-li">
                                            <div class="row">
                                                <div class="col-6">Payment</div>
                                                <div class="col-6 text-success">Paid</div>
                                            </div>
                                        </li>
                                        <li class="oi-status-li">
                                            <div class="row">
                                                <div class="col-6">Status</div>
                                                <div class="col-6">Fulfilled</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="oi-link">
                                    <div class="row">
                                        <div class="col-6">
                                            <a href="/invoice/"
                                                class="d-inline-block body-dominant-color text-decoration-underline">View
                                                invoce</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- order-info view end -->
                        <div class="oi-contact" data-animate="animate__fadeIn">
                            <div class="row row-mtm">
                                <div class="col-6">
                                    <!-- order-info contact start -->
                                    <span class="d-inline-block heading-color heading-weight meb-19">Contact info</span>
                                    <div class="ul-mtm20">
                                        <span>Demo name</span>
                                        <span>14.05.1991</span>
                                        <span>Male</span>
                                        <a href="mailto:demo@demo.com" class="body-dominant-color">demo@demo.com</a>
                                        <a href="tel:(+00)123456789" class="body-dominant-color">(+00)-123456789</a>
                                    </div>
                                    <!-- order-info contact end -->
                                </div>
                                <div class="col-6">
                                    <!-- order-info payment start -->
                                    <span class="d-inline-block heading-color heading-weight meb-24">Payment
                                        method</span>
                                    <div class="wt-payment">
                                        <div class="wt-img-num d-flex flex-wrap align-items-center">
                                            <span class="width-48 border-full br-hidden"><img
                                                    src="{% static 'image/other/paying-maestro.png' %}"
                                                    class="img-fluid" alt="paying-maestro"></span>
                                            <span class="width-calc-48 psl-15">xxxx 0446</span>
                                        </div>
                                        <div class="wt-date mst-15">Expire date 07/23</div>
                                    </div>
                                    <!-- order-info payment end -->
                                </div>
                                <div class="col-6">
                                    <!-- order-info shipping start -->
                                    <span class="d-inline-block heading-color heading-weight meb-19">Shipping
                                        address</span>
                                    <div class="st-label d-flex mst-5 meb-15">
                                        <span class="d-inline-block st-small-label bg-dark">Home</span>
                                    </div>
                                    <div class="ul-mtm20">
                                        <span>Spacingtech infotech</span>
                                        <span>7882, Reliance GIDC</span>
                                        <span>Chowk bazzar</span>
                                        <span>Surat</span>
                                        <span>Gujarat 395006</span>
                                        <span>India</span>
                                    </div>
                                    <!-- order-info shipping end -->
                                </div>
                                <div class="col-6">
                                    <!-- order-info billing start -->
                                    <span class="d-inline-block heading-color heading-weight meb-19">Billing
                                        address</span>
                                    <div class="st-label d-flex mst-5 meb-15">
                                        <span class="d-inline-block st-small-label bg-dark">Home</span>
                                    </div>
                                    <div class="ul-mtm20">
                                        <span>Spacingtech infotech</span>
                                        <span>7882, Reliance GIDC</span>
                                        <span>Chowk bazzar</span>
                                        <span>Surat</span>
                                        <span>Gujarat 395006</span>
                                        <span>India</span>
                                    </div>
                                    <!-- order-info billing end -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="oi-summary">
                        <!-- order-info logistics-details start -->
                        <div class="oi-detail pst-30 mst-30 bst" data-animate="animate__fadeIn">
                            <h6 class="font-18">Logistics details</h6>
                            <div class="oi-detail-wrap mst-18">
                                <ul class="oi-detail-ul ul-mtm20">
                                    <li class="oi-detail-li">
                                        <div class="row">
                                            <div class="col-6">Logistics name</div>
                                            <div class="col-6">WIT</div>
                                        </div>
                                    </li>
                                    <li class="oi-detail-li">
                                        <div class="row">
                                            <div class="col-6">AWB no</div>
                                            <div class="col-6">WTIT1400457854</div>
                                        </div>
                                    </li>
                                    <li class="oi-detail-li">
                                        <div class="row">
                                            <div class="col-6">Contact person</div>
                                            <div class="col-6">Alex jones</div>
                                        </div>
                                    </li>
                                    <li class="oi-detail-li">
                                        <div class="row">
                                            <div class="col-6">Contact no</div>
                                            <div class="col-6">
                                                <a href="tel:+00-0123456789"
                                                    class="d-inline-block body-dominant-color">(+00)-0123456789</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- order-info logistics-details end -->
                        <!-- order-info order-summary start -->
                        <div class="oi-summary pst-30 mst-30 bst" data-animate="animate__fadeIn">
                            <h6 class="font-18">Order summary</h6>
                            <div class="oi-summary-view mst-18">
                                <div class="row row-mtm">
                                    <div class="oi-summary-wrap">
                                        <ul class="oi-summary-ul ul-mtm20">
                                            <li class="oi-summary-li">
                                                <div class="row">
                                                    <div class="col-6">Product</div>
                                                    <div class="col-6">
                                                        <a href="/product/"
                                                            class="d-inline-block body-dominant-color">Refractometers</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">Sku</div>
                                                    <div class="col-6">ABCD-18</div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">Price</div>
                                                    <div class="col-6">$79.00</div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">Quantity</div>
                                                    <div class="col-6">1</div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">Total</div>
                                                    <div class="col-6">$79.00</div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <a href="/product/"
                                                            class="d-inline-block body-dominant-color text-decoration-underline">Buy
                                                            again</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="oi-btn mst-14">
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <a href="#reviewmodal"
                                                        class="w-100 btn-style2 secondary-btn opacity-50 disabled"
                                                        data-bs-toggle="modal">Write a review</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="oi-summary-wrap">
                                        <ul class="oi-summary-ul ul-mtm20">
                                            <li class="oi-summary-li">
                                                <div class="row">
                                                    <div class="col-6">Product</div>
                                                    <div class="col-6">
                                                        <a href="/product/"
                                                            class="d-inline-block body-dominant-color">Digital
                                                            thermometer</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">Sku</div>
                                                    <div class="col-6">ABCD-19</div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">Price</div>
                                                    <div class="col-6">$49.00</div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">Quantity</div>
                                                    <div class="col-6">1</div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">Total</div>
                                                    <div class="col-6">$49.00</div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <a href="/product/"
                                                            class="d-inline-block body-dominant-color text-decoration-underline">Buy
                                                            again</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="oi-btn mst-14">
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <a href="#reviewmodal"
                                                        class="w-100 btn-style2 secondary-btn opacity-50 disabled"
                                                        data-bs-toggle="modal">Write a review</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="oi-summary-wrap">
                                        <ul class="oi-summary-ul ul-mtm20">
                                            <li class="oi-summary-li">
                                                <div class="row">
                                                    <div class="col-6">Product</div>
                                                    <div class="col-6">
                                                        <a href="/product/"
                                                            class="d-inline-block body-dominant-color">Optical
                                                            microscope</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">Sku</div>
                                                    <div class="col-6">ABCD-20</div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">Price</div>
                                                    <div class="col-6">$69.00</div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">Quantity</div>
                                                    <div class="col-6">1</div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">Total</div>
                                                    <div class="col-6">$69.00</div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <a href="/product/"
                                                            class="d-inline-block body-dominant-color text-decoration-underline">Buy
                                                            again</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="oi-btn mst-14">
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <a href="#reviewmodal"
                                                        class="w-100 btn-style2 secondary-btn opacity-50 disabled"
                                                        data-bs-toggle="modal">Write a review</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="oi-summary-wrap">
                                        <ul class="oi-summary-ul ul-mtm20">
                                            <li class="oi-summary-li">
                                                <div class="row">
                                                    <div class="col-6">Product</div>
                                                    <div class="col-6">
                                                        <a href="/product/"
                                                            class="d-inline-block body-dominant-color">Dental tools</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">Sku</div>
                                                    <div class="col-6">ABCD-21</div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">Price</div>
                                                    <div class="col-6">$49.00</div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">Quantity</div>
                                                    <div class="col-6">1</div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">Total</div>
                                                    <div class="col-6">$49.00</div>
                                                </div>
                                            </li>
                                            <li class="oi-detail-li">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <a href="/product/"
                                                            class="d-inline-block body-dominant-color text-decoration-underline">Buy
                                                            again</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="oi-btn mst-14">
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <a href="#reviewmodal"
                                                        class="w-100 btn-style2 secondary-btn opacity-50 disabled"
                                                        data-bs-toggle="modal">Write a review</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- order-info order-summary end -->
                        <!-- order-info payment-summary start -->
                        <div class="oi-summary pst-30 mst-30 bst" data-animate="animate__fadeIn">
                            <h6 class="font-18">Payment summary</h6>
                            <div class="oi-detail-wrap mst-18">
                                <ul class="oi-detail-ul ul-mtm20">
                                    <li class="oi-detail-li">
                                        <div class="row">
                                            <div class="col-6">Subtotal</div>
                                            <div class="col-6 heading-color heading-weight">$246.00</div>
                                        </div>
                                    </li>
                                    <li class="oi-detail-li">
                                        <div class="row">
                                            <div class="col-6">Discount</div>
                                            <div class="col-6 text-danger heading-weight">$11.00</div>
                                        </div>
                                    </li>
                                    <li class="oi-detail-li">
                                        <div class="row">
                                            <div class="col-6">Shipping</div>
                                            <div class="col-6 text-success heading-weight">$0.00</div>
                                        </div>
                                    </li>
                                    <li class="oi-detail-li">
                                        <div class="row">
                                            <div class="col-6">Tax</div>
                                            <div class="col-6 heading-color heading-weight">$10.00</div>
                                        </div>
                                    </li>
                                    <li class="oi-detail-li">
                                        <div class="row">
                                            <div class="col-6">Total</div>
                                            <div class="col-6 heading-color heading-weight">$245.00</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- order-info payment-summary end -->
                    </div>
                </div>
                <div class="col-12 col-lg-5 p-lg-sticky top-0" data-animate="animate__fadeIn">
                    <!-- track-record fulfilled start -->
                    <div class="track-record ptb-30 plr-15 plr-sm-30 extra-bg border-radius">
                        <h6 class="font-18 meb-30 peb-23 beb">Fulfilled</h6>
                        <ul class="track-ul">
                            <li class="track-li active">
                                <div class="track-icon-text d-flex flex-wrap align-items-center">
                                    <span
                                        class="track-icon width-64 height-64 d-flex align-items-center justify-content-center rounded-circle"><i
                                            class="ri-shopping-bag-line d-block icon-24 lh-1"></i></span>
                                    <div class="track-text width-calc-64 ul-mtm20 psl-15">
                                        <span class="heading-color heading-weight">Order placed</span>
                                        <span>22<sup>nd</sup> Jan 2023</span>
                                    </div>
                                </div>
                                <div class="track-info ul-mtm20 pst-30 psl-79">
                                    <span class="heading-color heading-weight">An order has been placed</span>
                                    <span>22<sup>nd</sup> Jan 2023, 07:36 p.m</span>
                                    <span class="heading-color heading-weight">Seller has proccessed your order</span>
                                    <span>23<sup>rd</sup> Jan 2023, 09:12 p.m</span>
                                </div>
                            </li>
                            <li class="track-li active-next">
                                <div class="track-icon-text d-flex flex-wrap align-items-center">
                                    <span
                                        class="track-icon width-64 height-64 d-flex align-items-center justify-content-center rounded-circle"><i
                                            class="ri-gift-line d-block icon-24 lh-1"></i></span>
                                    <div class="track-text width-calc-64 ul-mtm20 psl-15">
                                        <span class="heading-color heading-weight">Packed</span>
                                    </div>
                                </div>
                            </li>
                            <li class="track-li">
                                <div class="track-icon-text d-flex flex-wrap align-items-center">
                                    <span
                                        class="track-icon width-64 height-64 d-flex align-items-center justify-content-center rounded-circle"><i
                                            class="ri-truck-line d-block icon-24 lh-1"></i></span>
                                    <div class="track-text width-calc-64 ul-mtm20 psl-15">
                                        <span class="heading-color heading-weight">Shipping</span>
                                    </div>
                                </div>
                            </li>
                            <li class="track-li">
                                <div class="track-icon-text d-flex flex-wrap align-items-center">
                                    <span
                                        class="track-icon width-64 height-64 d-flex align-items-center justify-content-center rounded-circle"><i
                                            class="ri-truck-line d-block icon-24 lh-1"></i></span>
                                    <div class="track-text width-calc-64 ul-mtm20 psl-15">
                                        <span class="heading-color heading-weight">Out for delivery</span>
                                    </div>
                                </div>
                            </li>
                            <li class="track-li">
                                <div class="track-icon-text d-flex flex-wrap align-items-center">
                                    <span
                                        class="track-icon width-64 height-64 d-flex align-items-center justify-content-center rounded-circle"><i
                                            class="ri-draft-line d-block icon-24 lh-1"></i></span>
                                    <div class="track-text width-calc-64 ul-mtm20 psl-15">
                                        <span class="heading-color heading-weight">Delivered</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- track-record fulfilled end -->
                </div>
            </div>
        </div>
        <!-- review-modal start -->
        <div class="review-modal modal fade" id="reviewmodal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content body-bg border-0 br-hidden">
                    <div class="modal-body ptb-30 plr-15 plr-sm-30">
                        <form method="post">
                            <div class="review-modal-header d-flex align-items-center justify-content-between meb-30">
                                <h6 class="font-18">Back to order</h6>
                                <button type="button" class="body-secondary-color icon-16" data-bs-dismiss="modal"
                                    aria-label="Close"><i class="ri-close-large-line d-block lh-1"></i></button>
                            </div>
                            <div class="review-modal-form">
                                <div class="row field-row">
                                    <div class="col-12 field-col">
                                        <label class="field-label">Rating</label>
                                        <div class="product-ratting">
                                            <span class="review-ratting">
                                                <span class="review-star">
                                                    <i class="ri-star-line"></i>
                                                    <i class="ri-star-line"></i>
                                                    <i class="ri-star-line"></i>
                                                    <i class="ri-star-line"></i>
                                                    <i class="ri-star-line"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12 field-col">
                                        <label for="name" class="field-label">Name</label>
                                        <input type="text" id="name" name="name" class="w-100" placeholder="Demo name"
                                            autocomplete="name">
                                    </div>
                                    <div class="col-12 field-col">
                                        <label for="name" class="field-label">Email</label>
                                        <input type="email" id="email" name="email" class="w-100"
                                            placeholder="demo@demo.com" autocomplete="email">
                                    </div>
                                    <div class="col-12 field-col">
                                        <label for="name" class="field-label">Review title</label>
                                        <input type="text" id="title" name="title" class="w-100"
                                            placeholder="Review title" autocomplete="name">
                                    </div>
                                    <div class="col-12 field-col">
                                        <label for="message" class="field-label">Message</label>
                                        <textarea rows="5" id="message" name="message" class="w-100"
                                            placeholder="Review message" autocomplete="off"></textarea>
                                    </div>
                                </div>
                                <div class="review-modal-button mst-30">
                                    <div class="row btn-row">
                                        <div class="col-12 col-sm-6">
                                            <button type="submit" class="w-100 btn-style2 quaternary-btn">Submit
                                                review</button>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <button type="button" class="w-100 btn-style2 secondary-btn"
                                                data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- review-modal end -->
    </section>
    <!-- order-info end -->
</main>
<!-- main end -->

{% endblock %}