{% extends 'base.html' %}

{% block title %}
    <title>Wishlist empty</title>
{% endblock %}

{% block content %}

<!-- main start -->
<main id="main">
    <!-- wishlist-empty page start -->
    <section class="wishlist-empty section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-7 col-xl-6 col-xxl-5 mx-md-auto text-center">
                    <div class="empty-info">
                        <div class="section-capture" data-animate="animate__fadeIn">
                            <div class="section-title">
                                <h2 class="section-heading">No favorite item yet</h2>
                            </div>
                        </div>
                        <img src="/static/image/account/empty-wish.png" class="width-160 img-fluid meb-23" alt="empty-wish" data-animate="animate__fadeIn">
                        <h6 class="font-18" data-animate="animate__fadeIn">Sorry your wishlist has currently no more products, click on 'explore products' button given below for continue browsing.</h6>
                        <a href="/collection/" class="btn-style2 secondary-btn mst-23" data-animate="animate__fadeIn">Explore products</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- wishlist-empty page end -->
</main>
<!-- main end -->

{% endblock %}