{% extends 'base.html' %}

{% block title %}
    <title>About us</title>
{% endblock %}

{% block content %}

        <!-- main start -->
        <main id="main">
            <!-- about-us start -->
            <section class="about-us section-pt">
                <div class="container">
                    <div class="row row-mtm align-items-md-center">
                        <div class="col-12 col-md-6">
                            <div class="about-counter-image position-relative">
                                <div class="psl-sm-30 psl-xl-50 peb-sm-30 peb-xl-50 banner-hover" data-animate="animate__fadeIn">
                                    <span class="d-block banner-img br-hidden">
                                        <img src="/static/image/other/about-1.jpg" class="w-100 img-fluid" alt="about-1">
                                    </span>
                                </div>
                                <div class="position-absolute start-0 bottom-0 ptb-30 plr-15 plr-sm-30 dominant-bg text-center border-radius" data-animate="animate__fadeIn">
                                    <h2 class="extra-color font-24 font-xl-32 lh-1"><span class="count-number" data-count="185"></span>+</h2>
                                    <span class="d-block extra-color mst-11 mst-xl-20">Worldwide store</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="col-xl-10 col-xxl-8 mx-xl-auto">
                                <h6 class="section-heading" data-animate="animate__fadeIn">Our company</h6>
                                <p class="mst-15" data-animate="animate__fadeIn">At our firm, we focus on delivering innovative solutions tailored to your needs, ranging from cutting-edge technology to bespoke services. We're committed to excellence and bringing your vision to life.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-us end -->
            <!-- about-location start -->
            <section class="about-location section-pt">
                <div class="container">
                    <div class="section-capture text-center" data-animate="animate__fadeIn">
                        <div class="section-title">
                            <h2 class="section-heading">Find Spot</h2>
                        </div>
                    </div>
                    <div class="other-swiper-wrap p-md-relative">
                        <div class="about-location-wrap section-ptb" data-bgimg="/static/image/other/about-location.png">
                            <div class="row">
                                <div class="col-12 col-md-10 mx-md-auto">
                                    <div class="about-locationslider swiper" id="about-locationslider">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide h-auto d-flex" data-animate="animate__fadeIn">
                                                <div class="about-location-content w-100 ptb-30 plr-15 plr-sm-30 extra-bg border-full br-hidden">
                                                    <div class="about-location-info d-flex flex-wrap align-items-center">
                                                        <img src="/static/image/other/location-1.png" class="width-48 img-fluid border-radius" alt="location-1">
                                                        <h6 class="width-calc-48 font-18 psl-15">Bengaluru</h6>
                                                    </div>
                                                    <div class="mst-23">
                                                        <div class="p-mtm20">
                                                            <p>1234 MG road, Bengaluru, Karnataka 560001, India</p>
                                                            <p><a href="mailto:contact@demowebsite.com" class="d-inline-block dominant-color">contact@demowebsite.com</a></p>
                                                            <p><a href="tel:+919876543210" class="d-inline-block dominant-color">+91 98765-43210</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide h-auto d-flex" data-animate="animate__fadeIn">
                                                <div class="about-location-content w-100 ptb-30 plr-15 plr-sm-30 extra-bg border-full br-hidden">
                                                    <div class="about-location-info d-flex flex-wrap align-items-center">
                                                        <img src="/static/image/other/location-2.png" class="width-48 img-fluid border-radius" alt="location-2">
                                                        <h6 class="width-calc-48 font-18 psl-15">London</h6>
                                                    </div>
                                                    <div class="mst-23">
                                                        <div class="p-mtm20">
                                                            <p>56 High street, London, WC1A 1AA, United kingdom</p>
                                                            <p><a href="mailto:support@demowebsite.com" class="d-inline-block dominant-color">support@demowebsite.com</a></p>
                                                            <p><a href="tel:+441234567890" class="d-inline-block dominant-color">+44 1234-567890</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide h-auto d-flex" data-animate="animate__fadeIn">
                                                <div class="about-location-content w-100 ptb-30 plr-15 plr-sm-30 extra-bg border-full br-hidden">
                                                    <div class="about-location-info d-flex flex-wrap align-items-center">
                                                        <img src="/static/image/other/location-3.png" class="width-48 img-fluid border-radius" alt="location-3">
                                                        <h6 class="width-calc-48 font-18 psl-15">Sydney</h6>
                                                    </div>
                                                    <div class="mst-23">
                                                        <div class="p-mtm20">
                                                            <p>78 George street, Sydney, NSW 2000, Australia</p>
                                                            <p><a href="mailto:sales@demowebsite.com" class="d-inline-block dominant-color">sales@demowebsite.com</a></p>
                                                            <p><a href="tel:+61212345678" class="d-inline-block dominant-color">+61 2 1234-5678</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide h-auto d-flex" data-animate="animate__fadeIn">
                                                <div class="about-location-content w-100 ptb-30 plr-15 plr-sm-30 extra-bg border-full br-hidden">
                                                    <div class="about-location-info d-flex flex-wrap align-items-center">
                                                        <img src="/static/image/other/location-4.png" class="width-48 img-fluid border-radius" alt="location-4">
                                                        <h6 class="width-calc-48 dominant-size psl-15">New york</h6>
                                                    </div>
                                                    <div class="mst-23">
                                                        <div class="p-mtm20">
                                                            <p>432 Park avenue, New york, NY 10022, USA</p>
                                                            <p><a href="mailto:info@demowebsite.com" class="d-inline-block dominant-color">info@demowebsite.com</a></p>
                                                            <p><a href="tel:+12345678901" class="d-inline-block dominant-color">+1 234-567-8901</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-buttons mst-30 mst-md-0 text-center" data-animate="animate__fadeIn">
                                        <div class="swiper-buttons-wrap">
                                            <button type="button" class="swiper-prev swiper-prev-about-location p-md-absolute top-50 start-0" aria-label="Arrow previous"><i class="ri-arrow-left-line d-block lh-1"></i></button>
                                            <button type="button" class="swiper-next swiper-next-about-location p-md-absolute top-50 end-0" aria-label="Arrow next"><i class="ri-arrow-right-line d-block lh-1"></i></button>
                                        </div>
                                    </div>
                                    <div class="swiper-dots d-none mst-30" data-animate="animate__fadeIn">
                                        <div class="swiper-pagination swiper-pagination-about-location"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-location end -->
            <!-- about-promise-feature start -->
            <section class="about-promise-feature section-ptb extra-bg">
                <div class="container">
                    <div class="row row-mtm">
                        <div class="col-12 col-lg-6">
                            <!-- about-future start -->
                            <div class="col-xl-11 col-xxl-10 about-future">
                                <div class="row row-mtm">
                                    <div class="about-future-content d-flex flex-wrap" data-animate="animate__fadeIn">
                                        <span class="width-88 height-88 dominant-color icon-24 d-flex align-items-center justify-content-center body-bg rounded-circle"><i class="ri-focus-2-line d-block lh-1"></i></span>
                                        <div class="width-calc-88 psl-15 psl-sm-30">
                                            <h6 class="font-18">Our mission</h6>
                                            <p class="mst-6">Our purpose is to deliver top-notch solutions and services, exceeding expectations and driving success with innovation and dedication.</p>
                                        </div>
                                    </div>
                                    <div class="about-future-content d-flex flex-wrap" data-animate="animate__fadeIn">
                                        <span class="width-88 height-88 dominant-color icon-24 d-flex align-items-center justify-content-center body-bg rounded-circle"><i class="ri-crosshair-line d-block lh-1"></i></span>
                                        <div class="width-calc-88 psl-15 psl-sm-30">
                                            <h6 class="font-18">Our vision</h6>
                                            <p class="mst-6">Our goal is to drive progress with groundbreaking solutions, setting new benchmarks and inspiring growth and excellence across all sectors.</p>
                                        </div>
                                    </div>
                                    <div class="about-future-content d-flex flex-wrap" data-animate="animate__fadeIn">
                                        <span class="width-88 height-88 dominant-color icon-24 d-flex align-items-center justify-content-center body-bg rounded-circle"><i class="ri-lightbulb-flash-line d-block lh-1"></i></span>
                                        <div class="width-calc-88 psl-15 psl-sm-30">
                                            <h6 class="font-18">Our idea</h6>
                                            <p class="mst-6">Our approach is to transform the industry with innovative solutions and exceptional service, setting new standards and achieving outstanding results.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- about-future end -->
                        </div>
                        <div class="col-12 col-lg-6">
                            <!-- about-feature start -->
                            <div class="about-feature">
                                <h2 class="section-heading" data-animate="animate__fadeIn">Uncover the journey and vision behind our brand's success</h2>
                                <p class="mst-8 mst-xl-15 meb-22" data-animate="animate__fadeIn">We are committed to delivering exceptional quality and service, ensuring that every expectation is exceeded with excellence and reliability.</p>
                                <div class="row row-mtm15">
                                    <div class="col-12 col-sm-6" data-animate="animate__fadeIn">
                                        <span class="heading-color d-flex align-items-center"><i class="ri-checkbox-circle-fill dominant-color icon-24 mer-5 lh-1"></i>Exceptional quality</span>
                                    </div>
                                    <div class="col-12 col-sm-6" data-animate="animate__fadeIn">
                                        <span class="heading-color d-flex align-items-center"><i class="ri-checkbox-circle-fill dominant-color icon-24 mer-5 lh-1"></i>Outstanding service</span>
                                    </div>
                                    <div class="col-12 col-sm-6" data-animate="animate__fadeIn">
                                        <span class="heading-color d-flex align-items-center"><i class="ri-checkbox-circle-fill dominant-color icon-24 mer-5 lh-1"></i>Exceeding expectations</span>
                                    </div>
                                    <div class="col-12 col-sm-6" data-animate="animate__fadeIn">
                                        <span class="heading-color d-flex align-items-center"><i class="ri-checkbox-circle-fill dominant-color icon-24 mer-5 lh-1"></i>Operational excellence</span>
                                    </div>
                                    <div class="col-12 col-sm-6" data-animate="animate__fadeIn">
                                        <span class="heading-color d-flex align-items-center"><i class="ri-checkbox-circle-fill dominant-color icon-24 mer-5 lh-1"></i>Consistent reliability</span>
                                    </div>
                                    <div class="col-12 col-sm-6" data-animate="animate__fadeIn">
                                        <span class="heading-color d-flex align-items-center"><i class="ri-checkbox-circle-fill dominant-color icon-24 mer-5 lh-1"></i>Customer focus</span>
                                    </div>
                                    <div class="col-12 col-sm-6" data-animate="animate__fadeIn">
                                        <span class="heading-color d-flex align-items-center"><i class="ri-checkbox-circle-fill dominant-color icon-24 mer-5 lh-1"></i>Journey highlights</span>
                                    </div>
                                    <div class="col-12 col-sm-6" data-animate="animate__fadeIn">
                                        <span class="heading-color d-flex align-items-center"><i class="ri-checkbox-circle-fill dominant-color icon-24 mer-5 lh-1"></i>Historical milestones</span>
                                    </div>
                                    <div class="col-12 col-sm-6" data-animate="animate__fadeIn">
                                        <span class="heading-color d-flex align-items-center"><i class="ri-checkbox-circle-fill dominant-color icon-24 mer-5 lh-1"></i>Strategic goals</span>
                                    </div>
                                    <div class="col-12 col-sm-6" data-animate="animate__fadeIn">
                                        <span class="heading-color d-flex align-items-center"><i class="ri-checkbox-circle-fill dominant-color icon-24 mer-5 lh-1"></i>Future aspirations</span>
                                    </div>
                                </div>
                            </div>
                            <!-- about-feature end -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-promise-feature end -->
            <!-- about-company-counter start -->
            <section class="about-company-counter section-pt">
                <div class="container">
                    <div class="row row-mtm align-items-md-center">
                        <div class="col-12 col-lg-4">
                            <h2 class="section-heading" data-animate="animate__fadeIn">See how our business advances with success</h2>
                            <p class="mst-18 mst-xl-25" data-animate="animate__fadeIn">Explore the vision and tactics driving our company's progress, showcasing how we continuously innovate and enhance our brand’s development and success.</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4" data-animate="animate__fadeIn">
                            <div class="banner-hover">
                                <a href="collection.html" class="d-block banner-img position-relative br-hidden">
                                    <span class="banner-icon icon-16 icon-xl-24 position-absolute top-50 start-50 width-48 width-xl-88 height-48 height-xl-88 d-flex align-items-center justify-content-center z-1 rounded-circle"><i class="ri-arrow-right-line d-block lh-1"></i></span>
                                    <img src="/static/image/other/about-business2.jpg" class="w-100 img-fluid" alt="about-business2">
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <!-- about-counter start -->
                            <div class="about-counter text-center">
                                <div class="row row-mtm30 about-counter-wrap">
                                    <div class="col-6" data-animate="animate__fadeIn">
                                        <div class="d-flex flex-column align-items-center ptb-30 plr-15 plr-sm-30 extra-bg border-full br-hidden">
                                            <h2 class="dominant-color font-24 font-xl-32 lh-1"><span class="count-number" data-count="10"></span>+</h2>
                                            <span class="mst-11 mst-xl-20">Years</span>
                                        </div>
                                    </div>
                                    <div class="col-6" data-animate="animate__fadeIn">
                                        <div class="d-flex flex-column align-items-center ptb-30 plr-15 plr-sm-30 extra-bg border-full br-hidden">
                                            <h2 class="dominant-color font-24 font-xl-32 lh-1"><span class="count-number" data-count="100"></span>+</h2>
                                            <span class="mst-11 mst-xl-20">Clients</span>
                                        </div>
                                    </div>
                                    <div class="col-6" data-animate="animate__fadeIn">
                                        <div class="d-flex flex-column align-items-center ptb-30 plr-15 plr-sm-30 extra-bg border-full br-hidden">
                                            <h2 class="dominant-color font-24 font-xl-32 lh-1"><span class="count-number" data-count="50"></span>+</h2>
                                            <span class="mst-11 mst-xl-20">Shops</span>
                                        </div>
                                    </div>
                                    <div class="col-6" data-animate="animate__fadeIn">
                                        <div class="d-flex flex-column align-items-center ptb-30 plr-15 plr-sm-30 extra-bg border-full br-hidden">
                                            <h2 class="dominant-color font-24 font-xl-32 lh-1"><span class="count-number" data-count="17"></span>+</h2>
                                            <span class="mst-11 mst-xl-20">Sales</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- about-counter end -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-company-counter end -->
            <!-- about-testimonial start -->
            <section class="about-testimonial section-pt">
                <div class="container">
                    <div class="section-capture text-center" data-animate="animate__fadeIn">
                        <div class="section-title">
                            <h2 class="section-heading">Our clients</h2>
                        </div>
                    </div>
                    <div class="other-swiper-wrap p-md-relative">
                        <div class="row">
                            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 mx-md-auto text-center">
                                <div class="about-testislider swiper" id="about-testislider">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" data-animate="animate__fadeIn">
                                            <div class="about-testi-content">
                                                <img src="/static/image/other/about-testi1.jpg" class="width-88 img-fluid rounded-circle" alt="about-testi1">
                                                <p class="mst-23">Outstanding web design with a perfect mix of creativity and usability. Crafting visually stunning, user-friendly sites that achieve great results.</p>
                                                <h6 class="dominant-color font-18 mst-5">Wesley bates</h6>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" data-animate="animate__fadeIn">
                                            <div class="about-testi-content">
                                                <img src="/static/image/other/about-testi2.jpg" class="width-88 img-fluid rounded-circle" alt="about-testi2">
                                                <p class="mst-23">Excellent support staff who are prompt, knowledgeable, and friendly. Always ready to resolve issues and provide top-notch customer service.</p>
                                                <h6 class="dominant-color font-18 mst-5">Paul smith</h6>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" data-animate="animate__fadeIn">
                                            <div class="about-testi-content">
                                                <img src="/static/image/other/about-testi3.jpg" class="width-88 img-fluid rounded-circle" alt="about-testi3">
                                                <p class="mst-23">Highly effective deputy sales manager. Boosts sales with strategic insights, strong leadership, and exceptional client relationships.</p>
                                                <h6 class="dominant-color font-18 mst-5">Ashley rosa</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-buttons mst-30 mst-md-0" data-animate="animate__fadeIn">
                                    <div class="swiper-buttons-wrap">
                                        <button type="button" class="swiper-prev swiper-prev-about-testi p-md-absolute top-50 start-0" aria-label="Arrow previous"><i class="ri-arrow-left-line d-block lh-1"></i></button>
                                        <button type="button" class="swiper-next swiper-next-about-testi p-md-absolute top-50 end-0" aria-label="Arrow next"><i class="ri-arrow-right-line d-block lh-1"></i></button>
                                    </div>
                                </div>
                                <div class="swiper-dots d-none mst-30" data-animate="animate__fadeIn">
                                    <div class="swiper-pagination swiper-pagination-about-testi"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-testimonial end -->
            <!-- about-image-service start -->
            <section class="about-image-service section-ptb">
                <div class="container">
                    <div class="row row-mtm flex-md-row-reverse align-items-md-center">
                        <div class="col-12 col-md-6">
                            <div class="about-counter-image position-relative">
                                <div class="per-sm-30 per-xl-50 peb-sm-30 peb-xl-50 banner-hover" data-animate="animate__fadeIn">
                                    <span class="d-block banner-img br-hidden">
                                        <img src="/static/image/other/about-3.jpg" class="w-100 img-fluid" alt="about-3">
                                    </span>
                                </div>
                                <div class="position-absolute end-0 bottom-0 ptb-30 plr-15 plr-sm-30 dominant-bg text-center border-radius" data-animate="animate__fadeIn">
                                    <h2 class="extra-color font-24 font-xl-32 lh-1"><span class="count-number" data-count="185"></span>+</h2>
                                    <span class="d-block extra-color mst-11 mst-xl-20">Worldwide store</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="about-service">
                                <div class="section-capture text-center text-md-start" data-animate="animate__fadeIn">
                                    <div class="section-title">
                                        <h2 class="section-heading">Order Assurance</h2>
                                    </div>
                                </div>
                                <div class="row row-mtm30">
                                    <div class="col-12" data-animate="animate__fadeIn">
                                        <div class="about-service-content d-flex flex-wrap align-items-center">
                                            <span class="width-88 height-88 dominant-color icon-24 d-flex align-items-center justify-content-center extra-bg rounded-circle"><i class="ri-truck-line d-block lh-1"></i></span>
                                            <h6 class="width-calc-88 font-18 psl-15 psl-sm-30">Fast shipping</h6>
                                        </div>
                                    </div>
                                    <div class="col-12" data-animate="animate__fadeIn">
                                        <div class="about-service-content d-flex flex-wrap align-items-center">
                                            <span class="width-88 height-88 dominant-color icon-24 d-flex align-items-center justify-content-center extra-bg rounded-circle"><i class="ri-loop-left-line d-block lh-1"></i></span>
                                            <h6 class="width-calc-88 font-18 psl-15 psl-sm-30">Easy returns</h6>
                                        </div>
                                    </div>
                                    <div class="col-12" data-animate="animate__fadeIn">
                                        <div class="about-service-content d-flex flex-wrap align-items-center">
                                            <span class="width-88 height-88 dominant-color icon-24 d-flex align-items-center justify-content-center extra-bg rounded-circle"><i class="ri-money-dollar-circle-line d-block lh-1"></i></span>
                                            <h6 class="width-calc-88 font-18 psl-15 psl-sm-30">100% Money secure</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-image-service end -->
        </main>
        <!-- main end -->

{% endblock %}