{% extends 'base.html' %}

{% block title %}
    <title>Legal</title>
{% endblock %}

{% block content %}

<!-- main start -->
<main id="main">
    <!-- return-policy start -->
    <section class="return-policy section-ptb">
        <div class="section-capture text-center" data-animate="animate__fadeIn">
            <div class="section-title">
                <h2 class="section-heading">Return policy</h2>
            </div>
        </div>
        <div class="container">
            <div class="row row-mtm align-items-md-start">
                {% include 'includes/pages-list.html' %}
                <div class="col-12 col-md-8 col-lg-9 p-md-sticky top-0">
                    <div class="number-index">
                        <h6 class="font-18" data-animate="animate__fadeIn">Not satisfied with your purchase? No problem! We believe in The perfect everyday and are dedicated to resolving any issues with your order swiftly.</h6>
                        <p class="mst-16" data-animate="animate__fadeIn">If you’re not fully satisfied with your purchase, we’ve got you covered. Our commitment to daily perfection means we will address any issues swiftly and ensure you’re pleased with your order. Don’t worry; we’ll resolve it quickly.</p>
                        <p class="mst-15" data-animate="animate__fadeIn">We believe in achieving perfect results every day, so if you encounter any issues with your order, we are dedicated to resolving them promptly. Our goal is to ensure you are completely satisfied with your purchase, and we’ll handle any concerns efficiently.</p>
                        <div class="pst-30 mst-30 bst" data-animate="animate__fadeIn"></div>
                        <h6 class="font-18" data-animate="animate__fadeIn">Steps for obtaining a return:</h6>
                        <p class="mst-16" data-animate="animate__fadeIn">To request a return, start by contacting our support team through email or phone. Provide your order number, item details, and the reason for return. Our team will review your request and send you a return authorization with detailed instructions on how to proceed.</p>
                        <p class="mst-15" data-animate="animate__fadeIn">Once you receive the return authorization, carefully pack the item with its original packaging and any accessories included. Ensure that the return authorization label is attached to the package. Ship the item back to the designated address. After we receive and inspect the return, we'll process your refund or exchange as per our policy.</p>
                        <div class="pst-30 mst-30 bst" data-animate="animate__fadeIn"></div>
                        <h6 class="font-18" data-animate="animate__fadeIn">Exceptions</h6>
                        <p class="mst-16" data-animate="animate__fadeIn">Certain items are not eligible for return or exchange. This includes personalized or custom-made products, perishable goods, and items marked as non-returnable in their descriptions. Please review our policy carefully before purchasing.</p>
                        <a href="terms-condition5.html" class="btn-style2 secondary-btn mst-22" data-animate="animate__fadeIn">Terms & conditions</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- return-policy end -->
</main>
<!-- main end -->

{% endblock %}