{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Legal</title>
{% endblock %}

{% block content %}

<!-- main start -->
<main id="main">
    <!-- sitemap start -->
    <section class="sitemap section-ptb">
        <div class="container">
            <div class="number-index">
                <div class="row row-mtm">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <h6 class="number-sub-index font-18" data-animate="animate__fadeIn">Home</h6>
                        <div class="psl-15 mst-18" data-animate="animate__fadeIn">
                            <div class="ul-mtm20">

                                <span><a href="/index/" class="d-inline-block body-dominant-color">01 Home</a></span>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <h6 class="number-sub-index font-18" data-animate="animate__fadeIn">Product</h6>
                        <div class="psl-15 mst-18">
                            <div class="row row-mtm">
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <div class="ul-mtm20">
                                        
                                        <span><a href="/collection-category/"
                                                class="d-inline-block body-secondary-color">Collection
                                                category</a></span>

                                        <span><a href="/search-empty/"
                                                class="d-inline-block body-secondary-color">Search empty</a></span>
                                        
                                        <span><a href="/search-product/"
                                                class="d-inline-block body-secondary-color">02 Search product</a></span>
                                    </div>
                                </div>
                                
                                
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Product layout</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                           
                                            <span><a href="/product/" class="d-inline-block body-dominant-color">25
                                                    Bundling together</a></span>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <div class="ul-mtm20">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <h6 class="number-sub-index font-18" data-animate="animate__fadeIn">Shop</h6>
                        <div class="psl-15 mst-18">
                            <div class="row row-mtm">
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Account</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            
                                            <span><a href="/login/" class="d-inline-block body-dominant-color">03
                                                    Modern login</a></span>
                                            <span><a href="/forgot-password/"
                                                    class="d-inline-block body-dominant-color">Forgot
                                                    password</a></span>
                                            <span><a href="/register/" class="d-inline-block body-dominant-color">03
                                                    Modern register</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Cart</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            <span><a href="/cart-empty/"
                                                    class="d-inline-block body-dominant-color">Cart empty</a></span>
                                            <span><a href="/cart-page/"
                                                    class="d-inline-block body-dominant-color">07 Classic
                                                    cart</a></span>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Checkout</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            
                                            <span><a href="/checkout/" class="d-inline-block body-dominant-color">02
                                                    Modern checkout</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Coming soon</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            
                                            <span><a href="/coming-soon/"
                                                    class="d-inline-block body-dominant-color">05 Creative
                                                    comingsoon</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Invoice</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            <span><a href="/invoice4/" class="d-inline-block body-dominant-color">04
                                                    Standard invoice</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Order</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            <span><a href="/order-complete/"
                                                    class="d-inline-block body-dominant-color">Order complete</a></span>
                                            <span><a href="/order/"
                                                    class="d-inline-block body-dominant-color">Order</a></span>
                                            <span><a href="/order-info/"
                                                    class="d-inline-block body-dominant-color">Order info</a></span>
                                            <span><a href="/order-info-default/"
                                                    class="d-inline-block body-dominant-color">Order default</a></span>
                                            <span><a href="/order-info-unfulfilled/"
                                                    class="d-inline-block body-dominant-color">Order
                                                    unfulfilled</a></span>
                                            <span><a href="/order-info-fulfilled/"
                                                    class="d-inline-block body-dominant-color">Order
                                                    fulfilled</a></span>
                                            <span><a href="/order-info-inprogress/"
                                                    class="d-inline-block body-dominant-color">Order
                                                    inprogress</a></span>
                                            <span><a href="/order-info-intransit/"
                                                    class="d-inline-block body-dominant-color">Order
                                                    intransit</a></span>
                                            <span><a href="/order-info-indelivery/"
                                                    class="d-inline-block body-dominant-color">Order
                                                    indelivery</a></span>
                                            <span><a href="/order-info-delivered/"
                                                    class="d-inline-block body-dominant-color">Order
                                                    delivered</a></span>
                                            <span><a href="/order-info-pickup/"
                                                    class="d-inline-block body-dominant-color">Order pickup</a></span>
                                            <span><a href="/order-info-cancel/"
                                                    class="d-inline-block body-dominant-color">Order cancel</a></span>
                                                <span><a href="/track-order/"
                                                class="d-inline-block body-dominant-color">Track order</a></span>
                                       
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Profile</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            <span><a href="/profile/"
                                                    class="d-inline-block body-dominant-color">Profile</a></span>
                                            <span><a href="/profile-address/"
                                                    class="d-inline-block body-dominant-color">Profile
                                                    address</a></span>
                                            <span><a href="/profile-notification/"
                                                    class="d-inline-block body-dominant-color">Profile
                                                    notification</a></span>
                                            <span><a href="/profile-order/"
                                                    class="d-inline-block body-dominant-color">Profile order</a></span>
                                            <span><a href="/profile-order-empty/"
                                                    class="d-inline-block body-dominant-color">Profile order
                                                    empty</a></span>
                                            <span><a href="/profile-ticket/"
                                                    class="d-inline-block body-dominant-color">Profile ticket</a></span>
                                            <span><a href="/profile-ticket-empty/"
                                                    class="d-inline-block body-dominant-color">Profile ticket
                                                    empty</a></span>
                                            <span><a href="/profile-wishlist/"
                                                    class="d-inline-block body-dominant-color">Profile
                                                    wishlist</a></span>
                                            <span><a href="/profile-wishlist-empty/"
                                                    class="d-inline-block body-dominant-color">Profile wishlist
                                                    empty</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Ticket</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            <span><a href="/ticket/"
                                                    class="d-inline-block body-dominant-color">Ticket</a></span>
                                            <span><a href="/ticket-create/"
                                                    class="d-inline-block body-dominant-color">Ticket create</a></span>
                                            <span><a href="/ticket-edit/"
                                                    class="d-inline-block body-dominant-color">Ticket edit</a></span>
                                            <span><a href="/ticket-info/"
                                                    class="d-inline-block body-dominant-color">Ticket info</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Store</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            <span><a href="/store/" class="d-inline-block body-dominant-color">02
                                                    Creative store</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Other</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            <span><a href="/cancellation/"
                                                    class="d-inline-block body-dominant-color">Cancellation</a></span>
                                            <span><a href="/cookie/"
                                                    class="d-inline-block body-dominant-color">Cookie</a></span>
                                            <span><a href="/legal/"
                                                    class="d-inline-block body-dominant-color">Legal</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">404</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            <span><a href="/404/" class="d-inline-block body-dominant-color">02
                                                    Classic 404</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Features</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            <span><a href="/button/"
                                                    class="d-inline-block body-dominant-color">Button</a></span>
                                            <span><a href="/cart-drawer-empty/"
                                                    class="d-inline-block body-dominant-color">Cart drawer
                                                    empty</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <h6 class="number-sub-index font-18" data-animate="animate__fadeIn">Blog</h6>
                        <div class="psl-15 mst-18" data-animate="animate__fadeIn">
                            <div class="ul-mtm20">
                                
                                <span><a href="/blog/" class="d-inline-block body-dominant-color">Blog
                                        left</a></span>
                                <span><a href="/article/" class="d-inline-block body-dominant-color">Article
                                        left</a></span>
                                <span><a href="/search-blog/" class="d-inline-block body-dominant-color">Search
                                        blog</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <h6 class="number-sub-index font-18" data-animate="animate__fadeIn">Page</h6>
                        <div class="psl-15 mst-18">
                            <div class="row row-mtm">
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">About us</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            
                                            <span><a href="/about-us/" class="d-inline-block body-dominant-color">07
                                                    Interactive about us</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Contact us</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            <span><a href="/contact-us/"
                                                    class="d-inline-block body-dominant-color">03 Standard
                                                    contactus</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Faqs</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            <span><a href="/faqs/" class="d-inline-block body-dominant-color">01
                                                    Standard faqs</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Payment policy</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            <span><a href="/payment-policy/"
                                                    class="d-inline-block body-dominant-color">01 Modern
                                                    payment</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Privacy policy</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            <span><a href="/privacy-policy/"
                                                    class="d-inline-block body-dominant-color">05 Efficient
                                                    privacy</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Return policy</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            <span><a href="/return-policy/"
                                                    class="d-inline-block body-dominant-color">04 Efficient
                                                    return</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Shipping policy</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            <span><a href="/shipping-policy/"
                                                    class="d-inline-block body-dominant-color">02 Efficient
                                                    shipping</a></span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Terms & condition</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            <span><a href="/terms-condition/"
                                                    class="d-inline-block body-dominant-color">05 Efficient
                                                    terms</a></span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-12" data-animate="animate__fadeIn">
                                    <h6 class="p-number">Wishlist</h6>
                                    <div class="psl-15 mst-18">
                                        <div class="ul-mtm20">
                                            <span><a href="/wishlist/"
                                                    class="d-inline-block body-dominant-color">Wishlist</a></span>
                                            <span><a href="/wishlist-empty/"
                                                    class="d-inline-block body-dominant-color">wishlist empty</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- sitemap end -->
</main>
<!-- main end -->

{% endblock %}